<div class="with-padding">
  <p>
    <em class="bible-verse verse-small">
      "Nové prikázanie vám dávam, aby ste sa vzájomne milovali."
    </em>
  </p>

  <ul>
    <li>
      <b>odpustenie</b>
    </li>
    <ul>
      <li>
        aby nám Pán Boh odpustil nejednotu, nelásku, posudzovanie, ohováranie, porovnávanie, hnev,
        pýchu, odcudzenie...
      </li>
      <li>
        aby sme si odpustili navzájom
        <em class="bible-verse">
          "Znášajte sa vospolok a odpúšťajte si, ak by niekto mal sťažnosť proti niekomu; ako aj Pán
          odpustil vám, tak aj vy." Kol 3,13
        </em>
      </li>
    </ul>
    <li>
      <b>uzdravenie</b> – prosme, aby Pán Boh uzdravil naše srdcia a naše spoločenstvo, nech vyleje
      medzi nás svoju lásku
    </li>
    <li>
      <b>žehnanie</b> – modlime sa, aby sme boli ľudia, ktorí si navzájom žehnajú, modlia sa za
      seba, dobrorečia si, prajú si
    </li>
  </ul>

  <div style="max-width: 400px; margin-left: auto; margin-right: auto" class="text-center mb-4">
    <app-svg-appreciation [color]="'#7a478c'"></app-svg-appreciation>
  </div>

  <ul>
    <li>
      za manželstvá v našom zbore – aby manželia boli pokorní, vedeli si odpúšťať, milovať sa
      Kristovou láskou a aby boli chránení pred Diablovými útokmi
    </li>
    <li>
      za vzťahy rodičov k deťom – aby mali múdrosť vo výchove, aby vedeli svoje deti milovať Otcovou
      láskou
    </li>
    <li>za vzťahy detí k rodičom – aby si ich vedeli vážiť, odpúšťať im</li>
    <li>
      za rozhádané rodiny (súrodenci, širšia rodina) - aby sme ako kresťania vedeli spraviť prvý
      krok k zmiereniu, nepozerali na to je "vinník", na svoju hrdosť, ale nechali sa viesť Duchom
      Svätým
    </li>
    <li>
      aby sme, ako bratia a sestry, v našom spoločenstve vedeli spolu fungovať, napriek tomu, že sme
      rozdielni, a aby sme sa vyznačovali láskou a boli tým svedectvom pre svet
      <em class="bible-verse">
        "Ak je teda nejaké napomenutie v Kristovi, ak je nejaké povzbudenie lásky, ak je nejaké
        spoločenstvo Ducha, ak je nejaký súcit a milosrdenstvo, naplňte moju radosť: zmýšľajte
        rovnako, majte rovnakú lásku, buďte jedna duša a jedna myseľ, nič nerobte z hašterivosti a
        márnej ctižiadosti, ale radšej v pokore iných pokladajte za hodnotnejších než seba, a
        nehľadajte každý len svoj prospech, ale aj prospech iných." Fil 2,1-4
      </em>
    </li>
  </ul>
</div>
