<div class="with-padding">
  <p>
    <em class="bible-verse small">
      "Nato sa posadil, zavolal si dvanástich a povedal im: Ak niekto chce byť prvý,
      nech je posledný zo všetkých a nech slúži všetkým." Mk 9,35
    </em>
  </p>

  <ul>
    <li>nové sily, obživenie, zápal pre pracovníkov</li>
    <li>aby sme neslúžili z vlastných síl, ale v moci Ducha svätého</li>
    <li>Božiu múdrosť pre vedúcich ako viesť, obzvlášť v týchto časoch, keď sa nemôžeme fyzicky stretávať</li>
    <li>aby sme stáli pevne na Božom slove a neprispôsobovali sa tomuto svetu</li>
    <li>za rečníkov, aby im Pán Boh zjavoval svoje slovo a aby smelo hlásali pravdu o Kristovi</li>
    <li>za jednotu medzi nami, aby nám Pán Boh odpustil, keď hľadáme svoje záujmy a neťaháme za jeden koniec</li>
    <li>aby sme sa navzájom milovali</li>
    <li>aby Pán Boh pridával nových veriacich</li>
    <li>chváľme Pána Ježiša, že na Ňom stojí celá cirkev a že:<br>
      <em class="bible-verse">"On spája a zväzuje celé telo všetkými spojivami spoločnej služby a dáva každej časti pôsobiť
        primerane, aby telo rástlo a budovalo sa v láske." Ef 4,16</em></li>
  </ul>

  <div style="margin-left: auto; margin-right: auto;" class="text-center mb-3">
    <app-svg-connect></app-svg-connect>
  </div>

  <p><b>Služby a vedúci</b>:</p>

  <ul>
    <li><b>naši farári</b> - Ondrej Koč, Martin Chalupka, Lenka Wagnerová</li>
    <li><b>dozorcovia</b> - Miro Čurlík, Miro Iľko</li>
    <li><b>presbyteri</b></li>
    <li><b>mamiklub</b> - Soňa Hricková</li>
    <li><b>detská besiedka</b> - Maja Šalamunová</li>
    <li><b>práca s konfirmandmi</b> - Bizi Argayová</li>
    <li><b>mládež</b> - Peťo Urbanec</li>
    <li><b>staršia mládež</b> - Dávid Motýľ</li>
    <li><b>KECY</b> - Kaja Habinová</li>
    <li><b>rodinné spoločenstvo</b> - Miro Iľko</li>
    <li><b>modlitebné spoločenstvo</b> - Vlado Gál</li>
    <li><b>Relevant n. o.</b> - Marek Ilenin</li>
    <li><b>Café Relevant</b> - modlime sa za nového vedúceho</li>
    <li><b>opatrovateľská služba</b> - Marika Macejová</li>
    <li><b>spevokol</b> - Oľga Adamkovičová</li>
    <li><b>stretnutia žien</b> - Lenka Wagnerová</li>
    <li><b>heart to heart</b> - Danka Surmiková</li>
    <li><b>ženy ženám</b> - Zuzka Martausová</li>
    <li><b>muži mužom</b> - Miro Iľko</li>
  </ul>

</div>
