<footer class="text-center">
  <div class="logo">
    <a href="https://patmos.sk">
      <img
        class="footer-logo hide-dark"
        alt="CZ ECAV Prešov"
        width="200"
        height="75"
        src="./assets/logo-ecavpo-filled-1x.webp"
        srcset="./assets/logo-ecavpo-filled-2x.webp 2x"
      />
      <img
        class="footer-logo hide-light"
        alt="CZ ECAV Prešov"
        width="200"
        height="75"
        src="./assets/logo-ecavpo-wired-1x.webp"
        srcset="./assets/logo-ecavpo-wired-2x.webp 2x"
      />
    </a>
  </div>
  <div class="info">
    © 2022
    <a href="https://patmos.sk"
      >Cirkevný zbor Evanjelickej cirkvi augsburského vyznania<br />na Slovensku Prešov</a
    >
  </div>
</footer>
