<footer class="text-center">
  <div class="logo">
    <a href="https://patmos.sk"
      ><img
        class="footer-logo"
        alt="CZ ECAV Prešov"
        width="199"
        height="71"
        src="./assets/logo-ecav-po.webp"
    /></a>
  </div>
  <div class="info">
    © 2022
    <a href="https://patmos.sk"
      >Cirkevný zbor Evanjelickej cirkvi augsburského vyznania<br />na Slovensku Prešov</a
    >
    <span style="color: transparent"
      >| <a style="color: transparent" routerLink="/" [routerLinkActive]="'text-bold'">2022</a> |
      <a style="color: transparent" routerLink="/2021" [routerLinkActive]="'text-bold'"
        >2021</a
      ></span
    >
  </div>
</footer>
