<div class="with-padding">
  <p>
    <em class="bible-verse">
      "Ajhľa, tvorím nové; už teraz to raší. Nebadáte to? Veru, robím cestu na púšti, rieky v
      pustatine." IZ 43,19
    </em>
  </p>

  <div style="margin-left: auto; margin-right: auto" class="text-center mb-4">
    <app-svg-nature></app-svg-nature>
  </div>

  <ul>
    <li>
      aby Pán Boh obživil všetko, čo je vyprahnuté, suché v našich životoch a našom spoločenstve,
      oživil čo je mŕtve, dal nám nový vietor do plachiet, novú víziu, perspektívu, novú nádej,
      vieru...
    </li>
    <li>
      aby Pán Boh dal občerstvenie, odpočinutie tým, ktorí nevládzu, sú na konci so silami, idú zo
      "zotrvačnosti". Aby dal novú nádej tým, ktorí by to už najradšej vzdali.
    </li>
    <li>za zapálenie vlažných, ľahostajných, spiacich</li>
    <li>nech v nás a cez nás Pán Boh tvorí nové veci</li>
    <li>aby nás Pán Boh naplnil novou radosťou, novou chválou, vďačnosťou</li>
    <li>
      aby sme mali osobné skúsenosti s Bohom, nie len sprostredkované (z kníh, zo svedectiev
      iných...)
    </li>
    <li>nech z nášho vnútra tečú potoky živej vody, ktoré obživia ostatných okolo nás</li>
    <li>
      za obživenie našej cirkvi, nech prináša svetlo, pravdu, uzdravenie pre spoločnosť. Nech
      neupadá vo formalizme.
    </li>
  </ul>
</div>
