<ng-container *ngIf="date === '2022-03-06'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Nedeľa 6.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Ó všetci smädní, poďte k vode! Poďte i vy, ktorí nemáte peniaze! Kupujte obilie,
            jedzte; poďte, kupujte bez peňazí, bez platenia víno a mlieko! Prečo dávate peniaz za
            to, čo nie je chlebom, a svoj zárobok za to, čo nesýti? Čujte ma pozorne a jedzte dobré
            a v hojnosti sa bude kochať vaša duša! Nachýľte uši a poďte ku mne, poslúchajte a budete
            žiť.
          </em>
        </p>

        <p>Izaiáš 55,1-3</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            aby všetci hladní a smädní, vyprahnutí prišli k Ježišovi – prameňu živej vody a boli
            občerstvení
          </li>
          <li>aby sme sa nehnali a nezahlcovali vecami, ktoré nás nemôžu nasýtiť</li>
          <li>aby naše uši boli nastavené na počúvanie Božieho hlasu</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-05'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Sobota 5.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Preto kľakám na kolená pred Otcom, po ktorom sa volá každá rodina na nebi aj na zemi;
            aby vám podľa bohatstva svojej slávy dal skrze svojho Ducha mocne zosilnieť na vnútornom
            človeku; aby Kristus prebýval vierou vo vašich srdciach, a vy, zakorenení a založení v
            láske, aby ste mohli so všetkými svätými vystihnúť, aká je to šírka a dĺžka, výška a
            hĺbka, a poznať Kristovu lásku, ktorá prevyšuje všetko poznanie; aby ste sa dali naplniť
            celou Božou plnosťou.
          </em>
        </p>

        <p>
          <em
            >Tomu však, ktorý môže nad toto všetko učiniť omnoho viac, ako my prosíme alebo
            rozumieme, a to podľa moci, ktorá pôsobí v nás, Tomu buď sláva v cirkvi a v Kristovi
            Ježišovi po všetky pokolenia až naveky vekov. Amen.</em
          >
        </p>

        <p>List Efezkým 3,14-21</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            modli sa, aby si skrze Ducha Svätého mocne zosilnel na vnútornom človeku, aby si každým
            dňom rástol
          </li>
          <li>
            aby sme ako spoločenstvo mohli spoločne zažívať šírku a dĺžku, výšku a hĺbku Kristovej
            lásky voči nám
          </li>
          <li>
            aby tvoje srdce a myseľ neboli naplnené zbytočnosťami, ale naopak, aby si bol naplnený
            Božou plnosťou
          </li>
          <li>
            ďakuj a chváľ Pána už teraz, pretože môže učiniť omnoho viac, ako prosíme alebo
            rozumieme
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-04'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Piatok 4.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Požehnaný Boh a Otec nášho Pána Ježiša Krista, ktorý nás podľa svojho veľkého
            milosrdenstva vzkriesením Ježiša Krista z mŕtvych znovuzrodil pre živú nádej, pre
            nehynúce, nepoškvrnené a nevädnúce dedičstvo pripravené v nebesiach pre vás, ktorých
            Božia moc prostredníctvom viery chráni pre spásu, pripravenú zjaviť sa v poslednom čase.
          </em>
        </p>

        <p>
          <em
            >Radujte sa z toho, aj keď azda teraz máte ešte nakrátko prejsť zármutkom rozličných
            skúšok, aby vám vaša vyskúšaná viera, oveľa cennejšia ako pominuteľné zlato, ktoré sa
            tiež preskúšava ohňom, bola na chválu, slávu a česť pri zjavení Ježiša Krista. Nevideli
            ste ho, a predsa ho milujete. Ani teraz ho nevidíte, ale veríte v neho a radujete sa
            nevýslovnou radosťou, plnou slávy, že dosahujete cieľ svojej viery — spásu duší.</em
          >
        </p>

        <p>Prvý Petrov 1,3-9</p>

        <p>
          Ak tieto verše práve čítate, radi by sme vás pozvali do toho, aby sme cez ne len tak
          rýchlo nepreleteli ale práve naopak, zastavili sa, prečítali si niektoré vety či slová
          niekoľkokrát a nechali túto pravdu zasiahnuť a ovplyvniť náš život tu a teraz. Boli sme
          stvorení pre živú nádej v Kristovi. Nedopusťme, aby boli tieto slová v našom živote
          odignorované.
        </p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>prosme Ducha Svätého, aby nám zjavil pravú živú nádej, ktorú máme v Kristovi</li>
          <li>modlime sa, aby naša viera obstála v skúškach</li>
          <li>modlime sa za ľudí, ktorí túto nádej nepoznajú</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>

  <div>
    <p class="text-center">
      Pieseň, ktorá nás práve v týchto časoch môže svojimi slovami povzbudiť a pripomenúť nám
      pravdu. :)
    </p>
  </div>

  <app-youtube-embedded [code]="'NZJO9qqn3pY'" [width]="560" [height]="315"></app-youtube-embedded>
</ng-container>

<ng-container *ngIf="date === '2022-03-03'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <h2 class="display-5 mb-4">
      <span class="title-with-badge">Biblický text na zamyslenie</span>
      <span class="date-badge">Štvrtok 3.3.</span>
    </h2>
    <p>
      <em
        >Preto kajajte sa a obráťte, aby vám boli zahladené hriechy,
        <strong>prišli vám časy duchovného osvieženia od Pána</strong>.</em
      >
    </p>

    <p>Skutky apoštolov 3,19-20</p>

    <h2 class="display-5 mb-4 mt-4">Modlitebné podnety na dnešný deň</h2>
    <ul class="mb-0">
      <li>
        popros, aby Duch Svätý nanovo obživil tvoje srdce, dal ti nebeskú radosť, ktorá nie je
        závislá od okolností
      </li>
      <li>nech príde novosť a čerstvosť do tvojej mysle, do tvojho tela, ale aj do vzťahov</li>
      <li>kajaj sa z vecí, ktoré ťa držia späť a obráť svoj zrak k Ježišovi</li>
    </ul>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-02'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <h2 class="display-5 mb-4">
      <span class="title-with-badge">Biblický text na zamyslenie</span>
      <span class="date-badge">Streda 2.3.</span>
    </h2>
    <p>
      <em
        >Boh nám je útočiskom a silou, pomocou v súžení vždy osvedčenou. Preto sa nebojíme, keby sa
        aj prevrátila zem a vrchy klátili sa v srdci mora. Nech hučia, nech sa penia jeho vody, nech
        sa zatrasú vrchy jeho vzdutím. Hospodin mocností je s nami, hradom prepevným je nám Boh
        Jákobov! Sela.</em
      >
    </p>

    <p>
      <em
        >Hľa, rieka... potoky jej potešujú mesto Božie, svätyňu príbytkov Najvyššieho. Boh je v jeho
        strede, neskláti sa, Boh pomôže mu na úsvite. Národy hučali a kráľovstvá sa zakolísali,
        vydal svoj hlas a zem sa rozplynula. Hospodin mocností je s nami, hradom prepevným je nám
        Boh Jákobov. Sela.</em
      >
    </p>

    <p>
      <em
        >Poďte a hľaďte na skutky Hospodinove! Úžasné veci spôsobil na zemi! Po koniec zeme
        zastavuje vojny, luky láme, seká kopije, bojové vozy ohňom spaľuje! Utíchnite a poznajte, že
        ja som Boh, som vyvýšený medzi národmi, vyvýšený na zemi! Hospodin mocností je s nami,
        hradom prepevným je nám Boh Jákobov. Sela.</em
      >
    </p>

    <p>Žalm 46</p>

    <h2 class="display-5 mb-4 mt-4">Modlitebné podnety na dnešný deň</h2>
    <ul class="mb-0">
      <li>
        utíšme sa pred Bohom, odovzdajme Mu znova v dôvere svoje srdcia, túžby, obavy, myšlienky...
      </li>
      <li>
        vyznávaj slovami žalmu (aj do situácií, ktorým práve čelíš): "Bože, si mojim útočiskom a
        silou...", "Preto sa nebojím, keby sa aj prevrátila zem..."
      </li>
      <li>nech národy utíchnu pred Ježišom, spoznajú, že je Boh a vyvýšia Ho</li>
    </ul>
  </app-content-box>
</ng-container>
