<app-content-box>
  <!--<app-color-scheme-switcher></app-color-scheme-switcher>-->

  <div class="title-with-picture">
    <div class="svg-pct">
      <app-svg-pray-knees></app-svg-pray-knees>
    </div>

    <h1 class="no-gradient display-4 mb-4">Pôstna reťaz 2023</h1>
  </div>

  <p class="lead mb-3">
    Milí priatelia, sestry a&nbsp;bratia, zjednoťme&nbsp;sa znova na&nbsp;modlitbách a&nbsp;pôste.
    Pozývame vás do&nbsp;"Pôstnej reťaze", ktorú spoločne vytvoríme počas nasledujúcich
    štyridsiatich dní. Začíname v&nbsp;stredu 22.2. a&nbsp;ukončíme ju na&nbsp;Veľký piatok
    7.4.2023. Ak sa&nbsp;rozhodnete zapojiť do reťaze, v&nbsp;kalendári sa&nbsp;zapíšte
    na&nbsp;konkrétny deň, v&nbsp;ktorom by ste si vyhradili pôst a&nbsp;čas pre&nbsp;modlitbu.
    Poďme do&nbsp;toho spoločne, povzbudení veršom z&nbsp;listu Jakuba:
  </p>

  <figure class="mb-4 mb-md-0">
    <blockquote class="blockquote bible-verse verse-big text-blue">
      <em>"Mnoho zmôže v&nbsp;účinkoch modlitba spravodlivého."</em>
    </blockquote>
    <figcaption class="blockquote-footer mb-0">Jakub 5,16</figcaption>
  </figure>
</app-content-box>

<app-content-box [classList]="'gradient-e text-white'" [negative]="true" [biggerText]="true">
  <h2 class="mb-4 text-white">V modlitbách sa zamerajme na tieto oblasti</h2>
  <ul class="mb-0">
    <li>náš osobný vzťah s Pánom Bohom</li>
    <li>náš zbor, za vedúcich, služby, zjednotenie, vzťahy, misiu...</li>
    <li>neveriaci v našom okolí, aby spoznali Pána Ježiša</li>
    <li>prebudenie v našom meste a&nbsp;našej krajine</li>
    <li>mier na Ukrajine</li>
  </ul>
</app-content-box>
