<app-main-content2023></app-main-content2023>

<div *ngIf="getCalendarError" class="alert alert-danger" role="alert">
  Obsah kalendára sa nepodarilo načítať. Ak problém pretrváva, kontaktujte nás na:
  pergalsk@gmail.com (PG).
</div>

<div *ngIf="submitError" class="alert alert-warning" role="alert">
  Chyba pri zapisovaní do kalendára. Ak problém pretrváva, kontaktujte nás na: pergalsk@gmail.com
  (PG).
</div>

<div *ngIf="calendarData" class="jumbotron dense mt-4">
  <app-calendar
    [data]="calendarData"
    [overrides]="overrides"
    [options]="calendarOptions"
    [header]="true"
    [multiselect]="true"
    [disabledPast]="true"
    [disabledToday]="true"
    [disabledFuture]="false"
    [headerCellTemplate]="headerCellTpl"
    [dayTemplate]="dayTpl"
    [dayTemplateData]="calendarData"
    (cellAction)="onDateClick($event)"
  ></app-calendar>

  <ng-template #headerCellTpl let-dayName>
    <div class="header-cell">{{ dayName }}</div>
  </ng-template>

  <ng-template #dayTpl let-dayData let-customData="data">
    <ngx-cal-day-title [title]="dayData.title"></ngx-cal-day-title>
    <div class="entry" *ngFor="let name of customData[dayData.date]">
      <span>{{ name }}</span>
    </div>
  </ng-template>
</div>
