<div class="with-padding">
  <div style="max-width: 400px; margin-left: auto; margin-right: auto" class="text-center mb-3">
    <app-svg-time></app-svg-time>
  </div>
  <p>
    <em class="bible-verse small">
      "Vy ste svetlo sveta. Mesto, ktoré leží na vrchu, nemôže byť skryté." Mt 5,14
    </em>
  </p>

  <ul>
    <li>za odvahu svedčiť</li>
    <li>
      za nových/ďalších pracovníkov, modlitebníkov, pastierov, prorokov, apoštolov, učiteľov,
      evanjelistov...
      <em class="bible-verse"
      >"Vtedy povedal učeníkom: Žatvy je síce mnoho, ale pracovníkov málo, preto proste Pána
        žatvy, aby vyslal pracovníkov na svoju žatvu." Mt 9,37-38</em
      >
    </li>
    <li>za múdrosť, ako zvestovať Božie slovo relevantne pre túto generáciu</li>
  </ul>
</div>

