<div class="with-padding">
  <p><em class="bible-verse verse-small">
    "Teraz však - znie výrok Hospodinov - vráťte sa ku mne celým srdcom a pôstom, plačom a
    nárekom!" Joel 2,12</em>
  </p>

  <ul>
    <li>aby nám Pán Boh ukázal, ktoré oblasti nášho srdca trucujú a nechcú sa k Nemu vrátiť</li>
    <li>aby sme ako spoločenstvo mali mäkké srdcia, ochotné počúvať Jeho vedenie</li>
    <li>nech nám je Pán Boh vzácnejší ako čokoľvek iné<br>
      <em class="bible-verse">"Lebo lepší je deň v Tvojich sieňach ako inde tisíc; radšej chcem
        stáť na prahu v dome svojho Boha ako zdržiavať sa v stanoch bezbožnosti." Ž 84,11</em>
    </li>
    <li>aby naše srdcia zahoreli láskou k Pánu Bohu<br>
      <em class="bible-verse">"Lebo lásku chcem, a nie obete, poznanie Boha viac ako zápaly." Oz 6,6</em></li>
    <li>za unavených a preťažených, ktorí zápasia s pochybnosťami, je im ťažko veriť v zložitej životnej situácii</li>
    <li>za návrat tých, ktorí odišli od Boha, zo zboru, spoločenstva</li>
    <li>chvála a vďaka Hospodinovi, že Jeho milosť trvá naveky, že nás stále prijíma naspäť do svojho náručia</li>
  </ul>

  <div style="max-width: 350px; margin-left: auto; margin-right: auto;" class="text-center mb-3">
   <app-svg-pray></app-svg-pray>
  </div>
</div>
