<header class="container wide">
  <div class="header-image">
    <div class="header-content">
      <h1>
        Pôst <br />
        2026
      </h1>
      <div class="header-subtitle">
        "Obráťte sa ku mne!" <span class="text-nowrap">Joel 2, 12</span>
      </div>
    </div>
  </div>
</header>

<main class="container narrow">
  <div class="kicker">
    "Teraz však, znie výrok Hospodinov, obráťte sa ku mne celým svojím srdcom, a to v pôste, plači a
    v náreku. A roztrhnite svoje srdce a nie svoje rúcha a navráťte sa k Hospodinovi, svojmu Bohu,
    lebo je milosrdný a ľútostivý, zhovievajúci a veľký čo do milosti a ľutuje zlé." Joel 2,12-13
  </div>

  <div class="d-flex flex-column flex-lg-row gap">
    <div style="flex: 1">
      <app-content-box
        [classList]="
          'white-bg secondary-fg no-border no-shadow flex-grow-1 m-0 mb-0 pt-1 p-0 content-2col'
        "
      >
        <h2 class="mb-4 secondary-fg">Téma pôstu</h2>

        <p>
          Milí priatelia, modlitebníci, v pôstnom období nás Pán Boh znovu pozýva vstúpiť do
          hlbšieho vzťahu s Ním:
        </p>

        <p>
          <b>"Obráťte sa ku mne celým svojím srdcom, v&nbsp;pôste, plači a&nbsp;v&nbsp;náreku."</b>
        </p>

        <p>
          Toto slovo zaznieva ako naliehavé, no zároveň láskavé pozvanie k návratu. Máme príležitosť
          zastaviť sa a úprimne si priznať, že v našich životoch vieme zablúdiť.
        </p>
        <p>
          Často si v rukách držíme veci, zranenia či hriechy, ktorých sa nevieme alebo nechceme
          vzdať. Alebo máme pocit, že všetko zvládame z vlastných síl, no práve tým sa vzďaľujeme od
          Ježiša. Teraz je čas odvrátiť sa od všetkého, čo nás delí od Boha a v pokore to priniesť
          pod Kristov kríž.
        </p>
        <p>
          V pokání môžeme odovzdať, čo nás ťaží, a dovoliť Mu, aby nás očistil a uzdravil. Dajme
          priestor Duchu Svätému, nech k nám hovorí. Pýtajme sa Ho v modlitbe od čoho sa máme
          obrátiť, z čoho máme činiť pokánie.
        </p>
        <p>
          Pán Bohu je milostivý a čaká nás s otvorenou náručou, premieňa každého, kto Mu dôveruje.
          Vráťme sa k Nemu celým srdcom.
        </p>
      </app-content-box>
    </div>

    <div style="flex: 1; margin-top: 3rem">
      <div class="verses-list">
        <div style="flex: 1">
          <!-- <p class="verse-card" style="transform: rotate(-2deg)">
            Nemilujte svet.<br />
            1.J&nbsp;2,15
          </p> -->

          <p class="verse-card" style="transform: rotate(1.5deg)">
            Priblížte sa Bohu a priblíži sa vám.<br />
            <span class="verse-pointer">Jk&nbsp;4,8</span>
          </p>

          <p class="verse-card" style="transform: rotate(-1.5deg)">
            Odvtedy začal Ježiš kázať a hovoriť: Pokánie čiňte.<br />
            <span class="verse-pointer">Mt&nbsp;4,17</span>
          </p>

          <p class="verse-card" style="transform: rotate(2deg)">
            Myslite na to, čo je hore, a nie na to, čo je na zemi.<br />
            <span class="verse-pointer">Kol&nbsp;3,2</span>
          </p>
          <p class="verse-card" style="transform: rotate(2deg)">
            Preto kajajte sa a obráťte, aby vám boli zahladené hriechy. <br />
            <span class="verse-pointer">SK&nbsp;3,19</span>
          </p>
        </div>

        <div style="flex: 1">
          <p class="verse-card" style="transform: rotate(-2deg)">
            V obrátení a upokojení bude vaša záchrana.<br />
            <span class="verse-pointer">Iz&nbsp;30,15</span>
          </p>

          <p class="verse-card" style="transform: rotate(1.5deg)">
            Nezhromažďujte si poklady na zemi.<br />
            <span class="verse-pointer">Mt&nbsp;6,19</span>
          </p>

          <p class="verse-card" style="transform: rotate(-1.5deg)">
            Odhoďme všetku príťaž a hriech.<br />
            <span class="verse-pointer">Žid&nbsp;12,1</span>
          </p>

          <p class="verse-card" style="transform: rotate(2deg)">
            Na toho zhliadnem, kto je pokorný a zronený v duchu.<br />
            <span class="verse-pointer">Iz&nbsp;66,2</span>
          </p>

          <!--  <p class="verse-card" style="transform: rotate(-2deg)">
            Ale Ty, Pane, si ľútostivý a milostivý Boh, zhovievajúci, hojný v milosti a vernosti.<br />
            Ž&nbsp;86:15
          </p> -->
        </div>
      </div>
    </div>
  </div>

  <app-content-box
    [classList]="'dark-fg no-shadow flex-grow-1 pb-3 mb-0 mt-3'"
    [ngStyle]="{ backgroundColor: '#e4ecf1' }"
  >
    <p>
      Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v
      stredu 18.3. a končila Veľkým piatkom 3.4.2025. Ak sa rozhodnete zapojiť do reťaze, v
      kalendári sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
    </p>
  </app-content-box>
</main>
