<app-content-box [classList]="'primary-bg secondary-fg secondary-border combo1-shadow'">
  <!--<app-color-scheme-switcher></app-color-scheme-switcher>-->

  <!--<h1 class="no-gradient display-4 mb-4">Pôstna reťaz 2024</h1>-->

  <div class="title-with-picture">
    <div class="svg-pct">
      <app-svg-hands-soil></app-svg-hands-soil>
    </div>

    <h1 class="no-gradient display-4 mb-4">Pôstna reťaz 2024</h1>
  </div>

  <p class="lead mb-3">
    Pôstne obdobie je pre nás výzvou utíšiť sa a znova viac priľnúť k Ježišovi. Tak, ako ratolesť
    čerpá živiny zo svojho kmeňa, aj my žijeme, len ak sme napojení na Krista. A práve
    prostredníctvom pôstu sa to spojenie prehlbuje. Zrieknime sa na čas svojich telesných potrieb,
    aby sme sa mohli duchovne nasýtiť, prehĺbiť vzťah s Ježišom, zakoreniť sa v Ňom. Veď On je zdroj
    života, v Ňom máme všetko, čo potrebujeme.
  </p>

  <figure class="mb-3">
    <blockquote class="blockquote secondary-fg">
      <em class="bible-verse verse-big"
        >"Zostaňte vo mne a ja vo vás. Ako ani ratolesť nemôže prinášať ovocie sama zo seba, len ak
        ostáva na vínnom kmeni, tak ani vy, len ak zostávate vo mne."</em
      >
    </blockquote>
    <figcaption class="blockquote-footer mb-0 secondary-fg">Ján 15,4</figcaption>
  </figure>

  <figure class="mb-0">
    <blockquote class="blockquote secondary-fg">
      <em class="bible-verse verse-big"
        >"Teraz však - znie výrok Hospodinov - vráťte sa ku mne celým srdcom a pôstom, plačom a
        nárekom."</em
      >
    </blockquote>
    <figcaption class="blockquote-footer mb-0 secondary-fg">Joel 2,12</figcaption>
  </figure>
</app-content-box>

<app-content-box [classList]="'secondary-bg white-fg primary-shadow'">
  Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v stredu
  14.2. a končila Veľkým piatkom 29.3.2024. Ak sa rozhodnete zapojiť do reťaze, v kalendári sa
  zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
</app-content-box>

<app-content-box
  style="margin-bottom: 80px"
  [classList]="'mb-5 white-bg secondary-fg secondary-border combo2-shadow'"
>
  <h2 class="mb-4 secondary-fg">Modlitebné podnety</h2>

  <p>
    V modlitbách sa zamerajme najmä na prehĺbenie nášho osobného vzťahu s Ježišom. Samozrejme,
    môžeme modlitebne bojovať aj za iné podnety, ktoré nám Duch Svätý dá na srdce, no nech je toto
    ústrednou témou.
  </p>

  <ul class="mb-0">
    <li>
      <strong>nech naše srdcia zahoria láskou k Pánu Bohu</strong><br />
      <em class="bible-verse"
        >"Lebo lásku chcem, a nie obete, poznanie Boha viac ako zápaly."
        <span class="nowrap">Oz 6,6</span></em
      >
    </li>

    <li>
      <strong>nech nás Ježiš nasýti</strong><br />
      <em class="bible-verse"
        >"Riekol im Ježiš: Ja som chlieb života; kto prichádza ku mne, nikdy nebude lačnieť, a kto
        verí vo mňa, nikdy nebude žízniť." <span class="nowrap">J 6,35</span></em
      >
    </li>

    <li>
      <strong>nech je nám Pán vzácnejší ako čokoľvek iné</strong><br />
      <em class="bible-verse"
        >"Lebo lepší je deň v Tvojich sieňach ako inde tisíc; radšej chcem stáť na prahu v dome
        svojho Boha ako zdržiavať sa v stanoch bezbožnosti." <span class="nowrap">Ž 84,11</span></em
      >
    </li>

    <li>
      <strong>aby sme sa nesýtili tým, čo nám ponúka svet</strong><br />
      <em class="bible-verse"
        >"Nemilujte svet, ani to, čo je vo svete. Ak niekto miluje svet, nieto v ňom lásky k Otcovi.
        Lebo čokoľvek je vo svete, žiadosť tela, žiadosť očí a pýcha života, nie je z Otca, ale je
        zo sveta. Svet však hynie, aj jeho žiadosť (hynie), ale ten, kto koná Božiu vôľu, zostáva
        naveky." <span class="nowrap">1.J 2,15-17</span></em
      >
    </li>

    <li>
      <strong>aby sme boli duchovne bdelí a nezaspali sme, nezvlažneli v osobnom komforte</strong
      ><br />
      <em class="bible-verse"
        >"Buďte rozvážni, bdejte! Váš protivník diabol obchádza ako revúci lev, hľadajúc koho by
        zožral." <span class="nowrap">1.Pt 5,8</span></em
      >
    </li>
  </ul>
</app-content-box>
