////////////////
// CALENDAR
//

$selected-color: #404e69;
$highlighted-color: #e0e9f7;
$week-cell-padding: 0.4rem 0.6rem 0.4rem 0.5rem;

// today
$today-border-size: 0.15rem;
$week-cell-padding-today: (0.4rem - $today-border-size) (0.6rem - $today-border-size) (0.4rem -$today-border-size) (0.5rem - $today-border-size);


/* Calendar 100% height */
.calendar {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-size: 0.9em;
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .calendar-header {
    display: flex;
    flex: 30px 0 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    > .header-cell {
      margin-bottom: 0.5rem;
      padding-bottom: 1em;
      align-items: center;
      font-style: italic;
      //color: #999 !important;
    }
  }

  .calendar-week-collapse {
    display: none;

    @include media-breakpoint-down(md) {
      display: inherit;
      margin-bottom: $jumbotron-equal-padding-sm;
    }
  }

  .calendar-week {
    display: flex;
    flex: 30px 1 0;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    &.collapsed {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:last-child {
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    > .week-cell {
      position: relative;
      padding: $week-cell-padding;
      min-height: 7.2rem;
      background-color: #f7f8fa;
      border-radius: 0.6rem;
      margin-bottom: 0.4rem;

      @include media-breakpoint-down(md) {
        min-height: 4.5rem;
        padding: 0.4rem 0.6rem;
      }

      &:last-child {
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
      }

      &.today {
        border: $today-border-size solid $selected-color;
        padding: $week-cell-padding-today;

        .title {
          color: $selected-color !important;
        }
      }

      &.filled {
        background-color: #e1e8f5;
      }

      &.past {
        opacity: 0.5;
      }

      &.weekend {
        background-color: #f1f4fb;

        .title {
          color: #3b4854;
        }

        &.filled {
          background-color: #e1e8f5;

          .title {
            color: #3b4854;
          }
        }
      }

      &.highlighted {
        background-color: $highlighted-color;

        .title {
          color: #303848;
        }

        &.filled {
          background-color: #cedaed;

          .title {
            color: #303848;
          }
        }
      }

      &:hover:not(.invisible, .disabled):not(.past, .today) {
        background-color: $selected-color !important;
        background-image: linear-gradient(347deg, #6a4156 0%, #344356 40%, #0c1a30 100%);
        cursor: pointer;

        .title {
          color: #fff;
        }

        .entry {
          color: white;
        }
      }

      .title {
        //content: attr(data-date);
        display: block;
        color: #555;
        //transition: color 0.3s;
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        @include media-breakpoint-down(md) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .calendar-header > .header-cell,
  .calendar-week > .week-cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0.4rem;
    color: #555;
    //transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;

    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.invisible {
      background-color: #fff !important;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .entry {
      overflow-x: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      font-weight: 700;
      margin: 0.5em 0;
      line-height: 1.2em;
      //transition: color 0.3s;

      &:last-child {
        margin-bottom: 0;
      }

      @include media-breakpoint-down(md) {
        display: inline;
        overflow-x: initial;
        text-overflow: initial;
      }

      &:not(.title):not(:first-child)::before {
        @include media-breakpoint-down(md) {
          content: '\0020\007C\0020'; // decoded string: " | "
        }
      }
    }
  }
}
