////////////////
// COMMON
//
:root {
  font-size: 16px;
}

body {
  transition: background-color 0.8s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: linear-gradient(137deg, #181024, #5a1770);
  background-size: 100%;
  -webkit-background-clip: text;
  //-moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  //-moz-text-fill-color: transparent;

  &.no-gradient {
    background: none;
    color: var(--heading-color);
    -webkit-background-clip: initial;
    //-moz-background-clip: text;
    -webkit-text-fill-color: initial;
    //-moz-text-fill-color: transparent;
  }
}

footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg-color);
  padding: 5rem;

  a {
    color: var(--body-color);
  }

  .logo {
  }

  .info {
    text-align: left;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    .info {
      text-align: center;
    }
  }
}

.container {
  &.app-main {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include media-breakpoint-down(xs) {
      margin-top: $grid-gutter-width / 2;
    }
  }
}

.lead {
  @include media-breakpoint-down(xs) {
    font-size: 1.15rem;
  }
}

.display-4 {
  font-size: 2.8rem;
}

.bible-verse {
  margin-top: 0.5rem;
  font-weight: 700;
  color: var(--verse-color);
  transition: color 0.8s;

  &.text-blue {
    color: var(--text-blue-color);
  }

  &.verse-small {
    display: block;
    font-size: 0.95rem;
    line-height: 1.4rem;
  }

  &.verse-big {
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

.video-container {
  width: 80%;
  margin: 3rem auto 5rem auto;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  &.iframe {
    position: relative;
    padding-bottom: 45%; // aspect ratio
    height: 0;
    border-radius: $border-radius-lg;
    box-shadow: $jumbotron-box-shadow;

    @include media-breakpoint-down(md) {
      padding-bottom: 56%; // aspect ratio
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: $border-radius-lg;
    }
  }

  video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: $border-radius-lg;
    box-shadow: $jumbotron-box-shadow;
  }
}

ul > li {
  padding-bottom: 0.55rem !important;

  .bible-verse {
    display: block;
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
}

.btn {
  &.btn-outline-primary:hover {
    &:hover {
      //background: linear-gradient(168deg, #553e77 0%, #553e77 35%, #6e2b84 100%);
    }
  }

  &.btn-smaller {
    font-size: 0.65em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.05em 1em 0.9em;
    letter-spacing: 0.05em;
  }
}

.deco-pict {
  float: right;
  width: 35%;

  @include media-breakpoint-down(md) {
    float: none;
    width: auto;
  }
}

.title-with-badge {
  margin-right: 1em;
  //margin-bottom: 1em;
  //display: inline-block;
}

.date-badge {
  display: inline-block;
  position: relative;
  top: -0.3em;
  font-size: 0.5em;
  padding: 0.5em 0.6em;
  border: 0.15em solid var(--badge-border-color);
  border-radius: 0.6em;
  font-weight: normal;
  letter-spacing: 0.085em;
  margin-top: 1em;
  text-transform: uppercase;
}

.badge-strip-handle {
  display: flex;
  justify-content: center;

  button {
    color: var(--badge-handle-color);
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.65em;
    font-weight: bold;
    padding: 0.6em 1em;
    border: none;

    &:hover {
      color: var(--badge-handle-color-hover) !important;
      background-color: var(--badge-handle-bg-color-hover) !important;
      box-shadow: none !important;
    }

    &:active,
    &:focus {
      color: var(--badge-handle-color);
      background-color: transparent;
      box-shadow: none !important;
    }
  }
}

.date-strip {
  display: flex;
  gap: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
  flex-wrap: wrap;
  max-height: 2.5em;
  justify-content: center;

  &.opened {
    max-height: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  a.date-badge {
    color: var(--badge-color);
    border-color: var(--badge-border-color);
    top: 0;
    font-size: 1em;
    padding: 0.3em 0.6em 0.2em 0.6em;
    cursor: pointer;
    transition: 0.3s color, 0.3s border-color, 0.3s background-color;
    white-space: nowrap;
    margin-top: 0;
    user-select: none;
    background-color: transparent;
    text-decoration: none;

    &:hover {
      color: var(--badge-color-hover);
      border-color: var(--badge-border-color-hover);
    }

    &.actual {
      color: var(--badge-color-actual);
      background-color: var(--badge-bg-color-actual);
      border-color: var(--badge-border-color-actual);
    }

    &.weekend:not(.actual) {
      color: var(--badge-weekend-color);
      background-color: var(--badge-weekend-bg-color);

      &:hover {
        color: var(--badge-weekend-color-hover);
      }
    }
  }
}

.theme-switcher {
  display: inline-block;
  position: absolute;
  top: -32px;
  right: -18px;

  .dropdown-toggle {
    color: var(--theme-switcher-color);
    background-color: transparent;
    border-color: transparent;
  }
}

.dropdown-toggle {
  &.no-dropdown-mark {
    &:after {
      display: none;
    }
  }
}

// misc. / adhoc

.modal-content {
  box-shadow: 3px 3px 18px 4px rgb(0 0 0 / 20%);
}
