// Custom project global constants
$jumbotron-box-shadow: 0px 0px 53px 20px rgba(0, 0, 0, 0.05);
$jumbotron-equal-padding: 3rem; // padding the same on all sides
$jumbotron-equal-padding-sm: 2rem; // padding the same on all sides

$gradient-border-size: 0.5rem;

$gradient-a: linear-gradient(168deg, #553e77 0%, #553e77 35%, #6e2b84 100%);
$gradient-b: linear-gradient(120deg, #553e77 0%, #553e77 35%, #6e2b84 100%);
$gradient-c: linear-gradient(168deg, #3e4777 0%, #0e3359 35%, #2b8467 100%);
