// Custom project global constants
$jumbotron-box-shadow: 0px 0px 53px 20px rgba(0, 0, 0, 0.05);
$jumbotron-equal-padding: 3rem; // padding the same on all sides
$jumbotron-equal-padding-sm: 2rem; // padding the same on all sides
