<h2 class="no-gradient text-center mb-0">Pôstna reťaz</h2>

<div class="table-info">
  <!--<div class="table-info-pct" style="filter: grayscale(100%)">
    <app-svg-calendar />
  </div>-->

  <div class="small-2 mt-4 mb-2">
    <!--<strong>Kalendár na zapisovanie je v príprave, zverejníme ho čoskoro.</strong><br>-->
    <strong>Na jeden deň sa&nbsp;môžete zapisovať viacerí</strong>, zároveň sa&nbsp;môžete
    <strong>zapísať aj na&nbsp;viacero dní</strong>. V kalendári si kliknutím označte zvolené dátumy
    a&nbsp;potom v&nbsp;spodnej časti stlačte tlačidlo <em>Zapísať na označené dátumy</em>. Zdajte
    meno a&nbsp;potvrďte. <strong>Záznam po potvrdení už nie&nbsp;je možné meniť</strong>,
    ak&nbsp;predsa potrebujete zmenu, napíšte email s&nbsp;požiadavkou
    na&nbsp;pergalsk&#64;gmail.com.
  </div>
</div>

<div *ngIf="getCalendarError" class="alert alert-danger" role="alert">
  Obsah kalendára sa nepodarilo načítať. Ak problém pretrváva, kontaktujte nás na:
  pergalsk&#64;gmail.com.
</div>

<div *ngIf="submitError" class="alert alert-warning" role="alert">
  Chyba pri zapisovaní do kalendára. Ak problém pretrváva, kontaktujte nás na:
  pergalsk&#64;gmail.com (PG).
</div>

<div *ngIf="calendarData" class="jumbotron dense mt-4">
  <app-calendar
    [data]="calendarData"
    [overrides]="overrides"
    [options]="calendarOptions"
    [header]="true"
    [multiselect]="true"
    [disabledPast]="true"
    [disabledToday]="true"
    [disabledFuture]="false"
    [headerCellTemplate]="headerCellTpl"
    [dayTemplate]="dayTpl"
    [dayTemplateData]="calendarData"
    (cellAction)="onDateClick($event)"
  />

  <ng-template #headerCellTpl let-dayName>
    <div class="header-cell">{{ dayName }}</div>
  </ng-template>

  <ng-template #dayTpl let-dayData let-customData="data">
    <ngx-cal-day-title [title]="dayData.title" [mobileTitle]="dayData.mobileTitle" />
    <div class="entries">
      <div class="entry" *ngFor="let name of customData[dayData.date]">
        <span>{{ name }}</span>
      </div>
    </div>
  </ng-template>
</div>
