<div class="panel-menu">
  <div class="menu-button">
    <button
      (click)="togglePanelMenu()"
      type="button"
      class="btn btn-outline-primary btn-block btn-smaller"
    >
      {{ menuOpened ? 'Skryť podnety z ďalších týždňov' : 'Zobraziť podnety z ďalších týždňov' }}
    </button>
  </div>

  <div
    class="menu-list"
    *ngIf="menuOpened && items.length"
    @openCloseTrigger
    (@openCloseTrigger.done)="leaveAnimEnd($event)"
  >
    <ul>
      <li
        *ngFor="let item of items; index as id"
        [ngClass]="[id === activeIndex ? 'disabled' : '']"
        (click)="selectPanelContent(id)"
      >
        <div class="sub-title">
          {{
            id === items.length - 1
              ? 'Modlitebná téma pre tento týždeň'
              : id + 1 + '. ' + item.subtitle
          }}
        </div>
        <div class="title">
          {{ item.title }}
        </div>
      </li>
    </ul>
  </div>
</div>
