<div class="modal-header dark">
  <h5 class="modal-title">Pridať meno</h5>
  <!--<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>-->
  <button
    type="button"
    class="close unselectable"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div id="registration-modal-graphic" class="mb-3">
    <app-svg-calendar-man></app-svg-calendar-man>
  </div>

  <div class="mb-2 text-center unselectable" id="modal-basic-title">
    <strong>{{ selectedDatesText }}</strong>
  </div>

  <form name="registrationForm">
    <div class="mb-3">
      <div class="input-with-inner-icon">
        <input
          [(ngModel)]="name"
          type="text"
          placeholder="Meno"
          class="form-control"
          name="regName"
          #nameModelRef="ngModel"
          #nameElementRef
          maxlength="25"
          pattern="[a-zA-ZáäčďéíĺľňóôŕšťúýžřÁÄČĎÉÍĹĽŇÓÔŔŠŤÚÝŽŘÖöÜüß\-\. ]*"
          autocomplete="off"
          required
          ngbAutofocus
          noWhitespace
        />
        <!-- todo: transform to directive -->
        <button
          *ngIf="nameModelRef.control.value"
          (click)="nameModelRef.control.reset(); nameElementRef.focus()"
          class="inner-icon"
          aria-hidden="true"
          type="button"
        >
          &times;
        </button>
      </div>

      <div class="field-errors small text-end mt-1">
        <span *ngIf="nameModelRef.invalid && nameModelRef.errors.pattern">Nepovolený znak.</span>
        <span *ngIf="nameModelRef.invalid && nameModelRef.errors.maxLength"
          >Môžete zadať max. 25 znakov.</span
        >
      </div>
    </div>

    <div class="clearfix">
      <button
        (click)="activeModal.dismiss('Cancel!')"
        type="button"
        class="btn btn-light float-left mr-2"
      >
        Späť
      </button>
      <button
        (click)="confirm()"
        [disabled]="nameModelRef.invalid"
        type="submit"
        class="btn btn-primary float-end"
        id="registration-modal-action-btn"
      >
        <span class="text-a">Záväzne zapísať</span>
        <span class="text-b">Zapísať</span>
      </button>
    </div>
  </form>
</div>
