<h1 class="no-gradient text-center mb-0">Pôstna reťaz</h1>

<div class="table-info">
  <div class="table-info-pct">
    <app-svg-calendar></app-svg-calendar>
  </div>

  <div class="small-2" style="font-size: 90%">
    <!--<strong>Kalendár na zapisovanie je v príprave, zverejníme ho čoskoro.</strong><br>-->
    <strong>Na jeden deň sa&nbsp;môžu zapisovať viacerí</strong>, zároveň sa&nbsp;môžete
    <strong>zapísať aj na&nbsp;viacero dní</strong>. V kalendári si kliknutím označte zvolené dátumy
    a v spodnej časti stlačte tlačidlo <em>Zapísať na označené dátumy</em>. Zdajte meno a
    potvrďte.<br /><br />
    <strong>Záznam po potvrdení už nie&nbsp;je možné meniť</strong>, ak&nbsp;predsa potrebujete
    zmenu, napíšte email s&nbsp;požiadavkou na&nbsp;pergalsk@gmail.com.
  </div>
</div>

<div *ngIf="getCalendarError" class="alert alert-danger" role="alert">
  Obsah kalendára sa nepodarilo načítať. Ak problém pretrváva, kontaktujte nás na:
  pergalsk@gmail.com.
</div>

<div *ngIf="submitError" class="alert alert-warning" role="alert">
  Chyba pri zapisovaní do kalendára. Ak problém pretrváva, kontaktujte nás na: pergalsk@gmail.com
  (PG).
</div>

<div *ngIf="calendarData" class="jumbotron dense mt-4">
  <app-calendar
    [data]="calendarData"
    [overrides]="overrides"
    [options]="calendarOptions"
    [header]="true"
    [multiselect]="true"
    [disabledPast]="true"
    [disabledToday]="true"
    [disabledFuture]="false"
    [headerCellTemplate]="headerCellTpl"
    [dayTemplate]="dayTpl"
    [dayTemplateData]="calendarData"
    (cellAction)="onDateClick($event)"
  ></app-calendar>

  <ng-template #headerCellTpl let-dayName>
    <div class="header-cell">{{ dayName }}</div>
  </ng-template>

  <ng-template #dayTpl let-dayData let-customData="data">
    <ngx-cal-day-title [title]="dayData.title"></ngx-cal-day-title>
    <div class="entries">
      <div class="entry" *ngFor="let name of customData[dayData.date]">
        <span>{{ name }}</span>
      </div>
    </div>
  </ng-template>
</div>
