<div class="with-padding">
  <p>
    <em class="bible-verse verse-small">
      "Každá duša buď poddaná nadriadeným vrchnostiam. Lebo nieto vrchnosti, iba ak od Boha; a tie,
      čo sú, sú zriadené Bohom. Kto sa teda protiví vrchnosti, Božiemu zriadeniu sa protiví; a tí,
      čo sa protivia, priťahujú si súd." Rim 13,1-2
    </em>
  </p>

  <p><b>Náš postoj</b>:</p>

  <ul>
    <li>
      <b>odpustenie</b> - robme pokánie z toho, keď sa búrime voči našim autoritám, nechávame sa
      ovládnuť hnevom, či nenávisťou, ohovárame, reptáme...
    </li>
    <li><b>poddajnosť</b> - modlime sa, aby naše srdcia boli poddajné, poslušné vrchnostiam</li>
    <li><b>ďakovanie</b> - ďakujme a chváľme Pána Boha za vrchnosti, ktoré nad nás dal</li>
    <li>
      <b>príklad</b> - modlime sa, aby sme sa v tomto nepripodobňovali svetu, ale aby sme ako Božie
      deti boli pre svet príkladom a svietili ako jasné hviezdy
      <em class="bible-verse"
        >"Všetko čiňte bez reptania a bez pochybovania, aby ste boli bez úhony a úprimní, bezvadné
        deti Božie uprostred tohto prevráteného a skazeného pokolenia, v ktorom sa javíte ako jasné
        hviezdy vo vesmíre." Fil 2,14-15</em
      >
    </li>
  </ul>

  <div style="max-width: 400px; margin-left: auto; margin-right: auto" class="text-center mb-4">
    <app-svg-president></app-svg-president>
  </div>

  <p><b>Za vrchnosti</b>:</p>

  <ul>
    <li>za predstaviteľov našej krajiny – prezidentku, premiéra, členov vlády a parlamentu</li>
    <li>za biskupov našej cirkvi</li>
    <li>za primátorku mesta Prešov</li>
    <li>za farárov nášho zboru</li>
    <li>svojich rodičov, šéfa v práci, učiteľov, vedúceho skupinky, vedúceho mládeže.</li>
  </ul>
  <hr />
  <ul>
    <li>aby sa stretli s Kristom, spoznali Pravdu a boli zachránení</li>
    <li>aby mali múdrosť a vedenie Duchom Svätým pri riadení, rozhodovaní</li>
    <li>aby boli vo svojej práci čestní, nekorumpovateľní</li>
    <li>aby sa nenechali ovládnuť mocou, ktorá im bola zverená</li>
  </ul>
</div>
