<div class="calendar" *ngIf="calendar" [ngClass]="calendar.classList">
  <div class="calendar-header" *ngIf="calendarOptions.header && dayNames">
    <ng-container *ngFor="let dayName of dayNames">
      <div class="header-cell">{{ dayName }}</div>
    </ng-container>
  </div>

  <button
    class="calendar-week-collapse btn btn-outline-primary btn-block btn-smaller"
    *ngIf="calendar.pastWeeksCount >= 1"
    (click)="toggleWeeks()"
  >
    {{ collapsedWeeks ? 'Zobraziť staršie dátumy' : 'Skryť staršie dátumy' }}
  </button>

  <ng-container *ngFor="let week of calendar.weeks; index as weekIndex">
    <div
      class="calendar-week"
      [ngClass]="week.classList"
      [class.collapsed]="week.past && collapsedWeeks"
    >
      <ng-container *ngFor="let day of week.days; index as dayIndex">
        <div
          class="week-cell"
          (click)="onDateClick({ weekIndex, dayIndex, day })"
          [ngClass]="day.classList"
          [class.selected]="day.selected"
          [id]="'date-' + day.date"
        >
          <div class="title">{{ day.title }}</div>

          <div class="entries">
            <div class="entry" *ngFor="let name of day.names">
              <span *ngIf="day.visible">{{ name }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedDates.length > 0">
    <div class="multiselect-toolbar">
      <div class="multiselect-toolbar-text">
        <span class="toolbar-badge">{{ selectedDates.length }}</span> označených dátumov
      </div>
      <div class="multiselect-toolbar-buttons">
        <button
          type="button"
          class="btn btn-outline-light btn-cancel"
          (click)="onMultiselectCancelClick()"
        >
          Zrušiť
        </button>
        <button
          type="button"
          class="btn btn-primary btn-action"
          (click)="onMultiselectActionClick()"
        >
          Zapísať <span class="text-part">na označené dátumy</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>

<!--<pre>{{calendar | json}}</pre>-->
