<div class="container app-main">
  <div class="jumbotron">
    <h1 class="display-4 mb-4">Pôstna reťaz</h1>

    <div class="row">
      <div class="col-md">
        <p class="lead">
          Obdobie pôstu je pre nás vždy príležitosťou na prehĺbenie nášho vzťahu s Pánom Bohom.
          Príležitosťou, aby sme sa kvôli modlitbe a stíšeniu vzdali svojich telesných potrieb a v
          intenzívnejšej miere hľadali Jeho tvár, Jeho vôľu a zámery. Upriamili sa na to, čo je
          hore, nie na to, čo je na zemi.
        </p>

        <hr class="my-3" />

        <div class="row">
          <div class="col-md">
            <figure class="mb-4 mb-md-0">
              <blockquote class="blockquote">
                <p>
                  <em class="bible-verse"
                    >"Ak ste teda boli vzkriesení s Kristom, hľadajte to, čo je hore, kde Kristus
                    sedí na pravici Božej. Myslite na to, čo je hore, a nie na to, čo je na
                    zemi."</em
                  >
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">Kolosenským 3,1-2</figcaption>
            </figure>
          </div>

          <div class="col-md">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>
                  <em class="bible-verse"
                    >"Lebo takto vraví Pán, Hospodin, Svätý Izraela: V obrátení a upokojení bude
                    vaša záchrana, v utíšení a dôvere bude vaša sila."</em
                  >
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">Izaiáš 30,15</figcaption>
            </figure>
          </div>
        </div>

        <hr class="my-3" />

        <div class="row">
          <div class="col-md">
            <p class="lead mb-0">
              Veríme, že aj nás, ako jednotlivcov, ale aj celé spoločenstvo, volá Pán Boh utíšiť sa
              pred Ním a hľadať Jeho tvár a zároveň modlitebne bojovať za rôzne oblasti a ľudí okolo
              nás.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron negative gradient-a">
    <div class="row">
      <div class="col-md">
        <h5 class="text-center mb-3">
          <strong
            >Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz,<br />ktorá by
            začala v stredu 17.2. a končila Veľkým piatkom 2.4.2021.</strong
          >
        </h5>

        <p class="mb-0">
          <strong>Čo to prakticky znamená?</strong> Ak sa rozhodnete zapojiť do reťaze, v kalendári
          sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst. Teda vzdali sa na celý deň
          napr. jedla alebo času pri mobile, TV, a namiesto toho ten čas venovali intenzívnym
          modlitbám, načúvaniu Božieho hlasu... Takýmto spôsobom by sme sa zjednotili na modlitbe za
          rôzne podnety. Niektoré budú na každý deň rovnaké, iné sa budú tematicky meniť každý
          týždeň, napríklad za zbor, za ľudí okolo nás, atď. Môžete sa samozrejme modliť aj za iné
          veci.
        </p>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <h1 class="text-center mt-4">Modlitebné podnety</h1>
    <p class="text-center">
      Nech sú pre vás inšpiráciou počas celého pôstneho obdobia, aj keď práve nie ste zapísaní v
      kalendári.
    </p>
  </div>

  <div class="row">
    <div class="col-lg">
      <div class="jumbotron">
        <p>
          Drahí modlitebnici, ďakujeme, že už štvrtý týždeň sa zapájate do spoločnej reťaze a
          bojujete za Božie veci v našom zbore, našich životoch!
          <strong
            >Tento týždeň sa v modlitbách zamerajme na duchovnú ostražitosť a múdre využívanie času,
            ktorý nám Boh dáva</strong
          >.
        </p>

        <p>
          <em class="bible-verse"
            >"Prísne teda dbajte, ako obcujete, nie ako nemúdri, ale ako múdri. Vykupujte čas, lebo
            dni sú zlé." Ef 5,15-16</em
          >
        </p>

        <p>
          <em class="bible-verse">
            "Majte bedrá opásané a sviece horiace a buďte podobní ľuďom, ktorí si očakávajú pána,
            kedy sa vráti zo svadby, aby mu hneď otvorili, len čo príde a zaklope. Blahoslavení
            sluhovia, ktorých pán, keď príde, nájde bdieť; amen, hovorím vám, že sa opáše, posadí
            ich a pristúpiac, bude im posluhovať." L 12,35-37
          </em>
        </p>

        <p class="mb-0">
          Pán Boh má plány pre naše životy a chce nás viesť aj v tom, ako žiť múdro vo svete okolo
          nás. Zároveň vnímame, že za to potrebujeme poriadne zápasiť, pretože na nás doliehajú
          silné pokušenia pohodlne sa usadiť a užívať si. Poďme sa preto modliť, aby sme boli
          spoločenstvo ľudí, ktorí sa nenechajú rozptýliť, ale sú pripravení v "bojovej
          pohotovosti".
        </p>
      </div>
    </div>
  </div>

  <!--<div class="video-container iframe">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/L4PylCS1WL4"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>-->

  <div class="video-container">
    <video width="auto" height="auto" controls class="video-elem">
      <source src="assets/pozdrav-peto.mp4" type="video/mp4" />
      Váš prehliadač nepodporuje HTML kontainer pre prehliadanie videa.
    </video>
  </div>

  <div class="row mb-4">
    <div class="col-lg">
      <div
        class="jumbotron no-padding"
        [ngClass]="{ 'negative gradient-b': panelContentIndex !== panelMenuItems.length - 1 }"
      >
        <app-selective-content
          [contentIndex]="panelContentIndex"
          [content]="panelMenuItems"
          (selection)="selectPanelContent($event)"
        >
        </app-selective-content>
      </div>
    </div>

    <div class="col-lg">
      <div class="jumbotron">
        <h4 class="mb-4">Osobné modlitebné podnety na každý deň</h4>

        <ul>
          <li>
            <strong>pokánie</strong> - vyznávajme svoje hriechy, zároveň sa v modlitbe pýtajme, či
            je niečo, čo máme vyznať a ani si neuvedomujeme, že v tom hrešíme
            <em class="bible-verse"
              >"A všetci spoločne opášte sa pokorou, lebo Boh sa pyšným protiví, ale pokorným dáva
              milosť. Pokorte sa teda pod mocnú Božiu ruku, aby vás časom povýšil." 1.Pt 5,5-6</em
            >
          </li>
          <li>
            <strong>charakter, posvätenie</strong> - hľadajme, čo nás chce Pán Boh naučiť, ako chce
            formovať náš charakter v okolnostiach v ktorých sa momentálne nachádzame<br />
            <em class="bible-verse">"Lebo to je vôľa Božia: vaše posvätenie." 1.Tes 4,3</em>
          </li>
          <li>
            <strong>vedenie, citlivosť na Boží hlas</strong> - aby sme boli citliví na Boží hlas,
            vedeli ho rozoznávať<br />
            <em class="bible-verse"
              >"Moje ovce čujú môj hlas, a ja ich poznám, a nasledujú ma." J 10,27</em
            >
          </li>
          <li>
            <strong>dôvera</strong> - aby sme dôverovali Pánu Bohu celým srdcom a odvrátili sa od
            spoľahu na vlastné sily, zdroje, múdrosť...<br />
            <em class="bible-verse"
              >"Uvaľ na Hospodina svoju cestu, dúfaj v Neho a On vykoná." Ž 37,5</em
            >
          </li>
          <li>
            <strong>hlad po Bohu</strong> - aby náš hlad po Bohu bol väčší ako hlad po iných
            veciach<br />
            <em class="bible-verse"
              >"Bože, Ty si môj Boh, ja Teba hľadám; po Tebe žízni moja duša. Po Tebe prahne moje
              telo ako zem suchá a bez vody, vyprahnutá." Ž 63,2</em
            >
          </li>
          <li>
            <strong>osobné prebudenie / duchovná bdelosť</strong> - aby sme boli duchovne bdelí a
            nezaspali, nezvlažneli v osobnom komforte<br />
            <em class="bible-verse"
              >"Buďte rozvážni, bdejte! Váš protivník diabol obchádza ako revúci lev, hľadajúc koho
              by zožral." 1.Pt 5,8</em
            >
          </li>
          <li>
            <strong>viera</strong> - aby sme verili Ježišovi, nasledovali Ho a robili kroky viery,
            ktoré sú nad našu logiku a chápanie ...aj keď nám to nedáva zmysel<br />
            <em class="bible-verse"
              >"Odpovedal mu: Poď! I vystúpil Peter z lode, chodil po vode a šiel k Ježišovi." Mt
              14,29</em
            >
          </li>
          <!--</ul>


        <div class="mb-3">
          <app-svg-diary></app-svg-diary>
        </div>


        <ul>-->
          <li>
            <strong>zmocnenie, naplnenie Duchom</strong> - nech v nás Duch Svätý rastie a nech
            prinášame okoliu ovocie Ducha<br />
            <em class="bible-verse"
              >"A neopíjajte sa vínom, v ktorom je roztopašnosť, ale buďte naplnení Duchom." Ef
              5,18</em
            >
          </li>
          <li>
            <strong>duchovné dary</strong> - horlite a modlite sa za duchovné dary, ktorými by sa
            naše spoločenstvo mohlo budovať<br />
            <em class="bible-verse"
              >"Tak aj vy, keďže horlíte za duchovné dary, hľaďte, aby ste sa rozhojňovali v nich na
              budovanie cirkvi." 1K 14,12</em
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h1 class="text-center">Pôstna reťaz</h1>

  <p class="text-center small">
    <strong>Na jeden deň sa môžu zapísať aj viacerí</strong>, zároveň sa jeden človek môže
    <strong>zapísať aj na viacero dní</strong>.<br />
    <strong>Kliknutím na dátum</strong> sa môžete zapísať.
    <strong>Záznam po potvrdení už nie je možné meniť</strong>, ak predsa potrebujete zmenu, napíšte
    na pergalsk@gmail.com.
  </p>

  <div *ngIf="getCalendarError" class="alert alert-danger" role="alert">
    Obsah kalendára sa nepodarilo načítať. Ak problém pretrváva, kontaktujte nás na:
    pergalsk@gmail.com (PG).
  </div>

  <div *ngIf="submitError" class="alert alert-warning" role="alert">
    Chyba pri zapisovaní do kalendára. Ak problém pretrváva, kontaktujte nás na: pergalsk@gmail.com
    (PG).
  </div>

  <div *ngIf="calendarData" class="jumbotron dense mt-4">
    <app-calendar
      [data]="calendarData"
      [options]="calendarOptions"
      (cellAction)="onDateClick($event)"
    ></app-calendar>
  </div>

  <p class="text-center small">
    © 2021 <a href="https://patmos.sk">Evanjelcký a. v. cirkevný zbor na Slovensku, Prešov</a>
  </p>
</div>
