<div class="main-full white-fg">
  <div class="main-full-title">
    <h1 class="white-fg no-gradient display-4 mb-2">Pôstna reťaz 2025</h1>
    <h2 class="white-fg">Obnov nás, Bože našej spásy!</h2>
  </div>

  <app-content-box [classList]="'white-fg primary-shadow info-panel d-none d-lg-block'">
    Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v
    stredu 5.3. a končila Veľkým piatkom 18.4.2025. Ak sa rozhodnete zapojiť do reťaze, v kalendári
    sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
  </app-content-box>
</div>

<main class="container narrow">
  <app-content-box [classList]="'black-fg primary-shadow d-lg-none primary-bg'">
    Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v
    stredu 5.3. a končila Veľkým piatkom 18.4.2025. Ak sa rozhodnete zapojiť do reťaze, v kalendári
    sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
  </app-content-box>

  <div class="d-flex flex-column flex-lg-row">
    <app-content-box [classList]="'white-bg secondary-fg no-border no-shadow flex-grow-1 m-0 mb-4'">
      <h2 class="mb-4 secondary-fg">Modlitebné podnety</h2>

      <p>
        V modlitbách sa zamerajme najmä na prehĺbenie nášho osobného vzťahu s Ježišom. Samozrejme,
        môžeme modlitebne bojovať aj za iné podnety, ktoré nám Duch Svätý dá na srdce, no nech je
        toto ústrednou témou.
      </p>

      <ul class="mb-0">
        <li>
          <strong>nech nás Ježiš nasýti</strong><br />
          <em class="bible-verse"
            >"Riekol im Ježiš: Ja som chlieb života; kto prichádza ku mne, nikdy nebude lačnieť, a
            kto verí vo mňa, nikdy nebude žízniť." <span class="nowrap">J 6,35</span></em
          >
        </li>

        <li>
          <strong>nech je nám Pán vzácnejší ako čokoľvek iné</strong><br />
          <em class="bible-verse"
            >"Lebo lepší je deň v Tvojich sieňach ako inde tisíc; radšej chcem stáť na prahu v dome
            svojho Boha ako zdržiavať sa v stanoch bezbožnosti."
            <span class="nowrap">Ž 84,11</span></em
          >
        </li>

        <li>
          <strong>aby sme sa nesýtili tým, čo nám ponúka svet</strong><br />
          <em class="bible-verse"
            >"Nemilujte svet, ani to, čo je vo svete. Ak niekto miluje svet, nieto v ňom lásky k
            Otcovi. Lebo čokoľvek je vo svete, žiadosť tela, žiadosť očí a pýcha života, nie je z
            Otca, ale je zo sveta. Svet však hynie, aj jeho žiadosť (hynie), ale ten, kto koná Božiu
            vôľu, zostáva naveky." <span class="nowrap">1.J 2,15-17</span></em
          >
        </li>
      </ul>
    </app-content-box>

    <app-content-box [classList]="'black-fg primary-bg primary-shadow flex-grow-1 fst-italic'">
      <p>Či nás Ty znova neoživíš, aby Tvoj ľud mal v Tebe radosť?</p>
      <p>Ukáž nám, Hospodine, svoju milosť, udeľ nám svoju spásu!</p>
      <p>
        Chcem počúvať, čo Hospodin Boh hovorí, lebo On pokoj oznamuje svojmu ľudu a svojim zbožným,
        len aby sa nevrátili zase ku bláznovstvu. Iste je blízka Jeho spása tým, čo sa Ho boja, aby
        sláva Jeho prebývala v našej krajine.
      </p>
      <p>
        Milosť a vernosť sa stretnú, spravodlivosť a pokoj sa pobozkajú. Vypučí vernosť zo zeme a
        spravodlivosť zhliadne z neba.
      </p>
      <p>
        Potom dá Hospodin aj to, čo je dobré, a naša zem vydá svoj úžitok. Spravodlivosť pôjde pred
        Ním a spása cestou Jeho krokov.
      </p>
      <p class="text-end">Žalm 85,7-14</p>
    </app-content-box>
  </div>
</main>
