<div class="main-full white-fg">
  <div class="main-full-title">
    <h1 class="white-fg no-gradient display-4 mb-2">Pôstna reťaz 2025</h1>
    <h2 class="white-fg">
      Obnov nás, Bože našej spásy!
      <span class="ms-2" style="font-size: 50%; opacity: 0.7">Žalm 85</span>
    </h2>
  </div>

  <app-content-box [classList]="'white-fg primary-shadow info-panel d-none d-lg-block'">
    Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v
    stredu 5.3. a končila Veľkým piatkom 18.4.2025. Ak sa rozhodnete zapojiť do reťaze, v kalendári
    sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
  </app-content-box>
</div>

<div class="unsplash-attribute text-end">
  Photo by
  <a
    href="https://unsplash.com/@szmigieldesign?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
    >Lukasz Szmigiel</a
  >
  on
  <a
    href="https://unsplash.com/photos/low-light-photo-of-forest-2ShvY8Lf6l0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
    >Unsplash</a
  >
</div>

<main class="container narrow">
  <app-content-box [classList]="'black-fg primary-shadow d-lg-none primary-bg mb-1 mb-lg-3'">
    Vytvorme spolu počas týchto 40 dní, ktoré máme pred sebou, pôstnu reťaz, ktorá by začala v
    stredu 5.3. a končila Veľkým piatkom 18.4.2025. Ak sa rozhodnete zapojiť do reťaze, v kalendári
    sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu.
  </app-content-box>

  <div class="d-flex flex-column flex-lg-row">
    <div style="flex: 1">
      <app-content-box
        [classList]="'white-bg secondary-fg no-border no-shadow flex-grow-1 m-0 mb-0 pt-4'"
      >
        <h2 class="mb-4 secondary-fg">Téma pôstu</h2>

        <p>
          Milí priatelia, modlitebníci,<br />
          inšpirovaní Žalmom 85 sa tohto roku zjednoťme v&nbsp;spoločnom pôste za
          <b>duchovnú obnovu</b>.
        </p>

        <p class="mb-2">Postime sa za obnovu v týchto troch oblastiach:</p>

        <ul class="ps-4">
          <li class="pb-1"><b>obnova v našich osobných životoch</b></li>
          <li class="pb-1"><b>obnova nášho zboru/cirkvi</b></li>
          <li class="pb-1"><b>obnova našej krajiny</b></li>
        </ul>

        <p>Volajme k Pánu Bohu, nech sa nad nami zmiluje.</p>

        <p>
          On má moc obživiť nás, priniesť záchranu a pokoj v&nbsp;našich osobných životoch, má moc
          obživiť naše spoločenstvo a cirkev.
        </p>

        <p>
          Takisto má moc obživiť našu krajinu a zachrániť ju z&nbsp;područia klamstiev, zasvietiť
          svojim svetlom, priniesť spásu a spravodlivosť.
        </p>
      </app-content-box>
    </div>

    <div style="flex: 1">
      <app-content-box
        [classList]="
          'white-fg primary-bg primary-shadow flex-grow-1 fst-italic pb-3 mb-0 blurred-bg-pct'
        "
      >
        <p>Či nás Ty znova neoživíš, aby Tvoj ľud mal v Tebe radosť?</p>
        <p>Ukáž nám, Hospodine, svoju milosť, udeľ nám svoju spásu!</p>
        <p>
          Chcem počúvať, čo Hospodin Boh hovorí, lebo On pokoj oznamuje svojmu ľudu a svojim
          zbožným, len aby sa nevrátili zase ku bláznovstvu. Iste je blízka Jeho spása tým, čo sa Ho
          boja, aby sláva Jeho prebývala v našej krajine.
        </p>
        <p>
          Milosť a vernosť sa stretnú, spravodlivosť a pokoj sa pobozkajú. Vypučí vernosť zo zeme a
          spravodlivosť zhliadne z neba.
        </p>
        <p>
          Potom dá Hospodin aj to, čo je dobré, a naša zem vydá svoj úžitok. Spravodlivosť pôjde
          pred Ním a spása cestou Jeho krokov.
        </p>
        <p class="text-end">Žalm 85,7-14</p>
      </app-content-box>
    </div>
  </div>
</main>
