<app-content-box>
  <!--<app-color-scheme-switcher></app-color-scheme-switcher>-->

  <div class="title-with-picture">
    <div class="svg-pct">
      <app-svg-pray-knees></app-svg-pray-knees>
    </div>

    <h1 class="no-gradient display-4 mb-4">Pôstna reťaz 2023</h1>
  </div>

  <p class="lead mb-3">
    Milí priatelia, sestry a bratia, zjednoťme sa znova na modlitbách a pôste. Pozývame vás do "Pôstnej reťaze", ktorú spoločne vytvoríme počas nasledujúcich štyridsiatich dní. Začíname v stredu 22.2. a ukončíme ju na Veľký piatok 7.4.2023. Ak sa rozhodnete zapojiť do reťaze, v kalendári sa zapíšte na konkrétny deň, v ktorom by ste si vyhradili pôst a čas pre modlitbu. Poďme do toho spoločne, povzbudení veršom z listu Jakuba:
  </p>

  <figure class="mb-4 mb-md-0">
    <div class="mb-1">
      <em class="bible-verse verse-big text-blue">
        "Mnoho zmôže v účinkoch modlitba spravodlivého."
      </em>
    </div>
    <figcaption class="blockquote-footer">Jakub 5,16</figcaption>
  </figure>
</app-content-box>

<app-content-box [classList]="'gradient-e text-white'" [negative]="true" [biggerText]="true">
  <h2 class="display-5 mb-4 text-white">V modlitbách sa zamerajme na tieto oblasti</h2>
  <ul>
    <li>náš osobný vzťah s Pánom Bohom</li>
    <li>náš zbor, za vedúcich, služby, zjednotenie, vzťahy, misiu...</li>
    <li>neveriaci v našom okolí, aby spoznali Pána Ježiša</li>
    <li>prebudenie v našom meste a našej krajine</li>
    <li>mier na Ukrajine</li>
  </ul>
</app-content-box>

<h1 class="no-gradient text-center">Pôstna reťaz</h1>

<div class="table-info">
  <div class="table-info-pct">
    <app-svg-calendar></app-svg-calendar>
  </div>

  <div class="small-2" style="font-size: 90%">
    <!--<strong>Kalendár na zapisovanie je v príprave, zverejníme ho čoskoro.</strong><br>-->
    <strong>Na jeden deň sa môžu zapísovať viacerí</strong>, zároveň sa jeden človek môže
    <strong>zapísať aj na viacero dní</strong>.
    Zapisovanie prebieha kliknutím na dátum a uvedením mena.<br /><br />
    <strong>Záznam po potvrdení už nie je možné meniť</strong>, ak predsa potrebujete zmenu, napíšte
    email s požiadavkou na pergalsk@gmail.com.
  </div>
</div>

