$thickness: 4px;
$shadow-size: 10px;
$inset-size: 8px;

.theme2024 {
  --primary-color: #fbe3b9;
  --neutral-dark: black;
  --neutral-light: white;

  .multiselect-toolbar {
    background-color: var(--neutral-dark);
    background-image: unset;

    .multiselect-toolbar-buttons {
      .btn-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--neutral-dark);

        &:hover {
          background-color: var(--neutral-light);
          border-color: var(--neutral-light);
        }
      }
    }
  }

  .bible-verse {
    color: var(--neutral-dark);
    //box-shadow: inset 0 -6px 0 0 var(--neutral-light);
    display: inline;
    background-color: var(--neutral-light);
  }

  .white-bg {
    .bible-verse {
      //box-shadow: inset 0 -6px 0 0 var(--primary-color);
      font-weight: normal;
      font-size: var(--bs-body-font-size);
      background-color: var(--primary-color);
    }
  }

  .slider-quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
    margin-bottom: 0;
    text-align: center;
    background-color: var(--primary-color);
    text-wrap: balance;

    @media (max-width: 992px) {
      min-height: 200px;
    }
    @media (max-width: 700px) {
      min-height: 300px;
    }
    @media (max-width: 430px) {
      min-height: 400px;
    }

    .blockquote-footer {
      margin-bottom: 0;
      color: var(--neutral-dark);
      opacity: 0.6;
    }
  }

  .calendar {
    .calendar-header {
      .header-cell {
        color: var(--neutral-dark);
      }
    }

    .calendar-week {
      .week-cell {
        //padding: 0.25rem 0.45rem 0.25rem 0.35rem;
        padding: 6px 10px 6px 8px;
      }

      .week-cell.selected {
        color: var(--neutral-light);
        background-color: var(--neutral-dark);
      }

      .week-cell.selected .title {
        color: var(--primary-color);
      }

      .week-cell.selected.filled {
        color: var(--neutral-light);
        background-color: var(--neutral-dark);
      }

      .week-cell.selected {
        color: var(--neutral-light);
        background-color: var(--neutral-dark) !important;

        &.entries-count-2 {
          .title {
            color: #f9d495 !important;
          }
        }
        &.entries-count-3,
        &.entries-count-4,
        &.entries-count-5,
        &.entries-count-6,
        &.entries-count-7,
        &.entries-count-8,
        &.entries-count-9,
        &.entries-count-10 {
          .title {
            color: #f7c978 !important;
          }
        }
      }

      .week-cell.highlighted {
        background-color: #f7f8fa;
      }

      .calendar .calendar-header .header-cell,
      .week-cell {
        color: var(--neutral-dark);
      }

      .week-cell .title {
        color: var(--neutral-dark);
      }

      .week-cell.weekend.filled .title {
        color: var(--neutral-dark);
      }

      .week-cell.highlighted.filled .title {
        color: var(--neutral-dark);
      }

      .week-cell.weekend.filled.selected {
        .title {
          color: var(--primary-color);
        }
      }

      .week-cell.highlighted.filled.selected .title {
        color: var(--primary-color);
      }

      .week-cell.weekend {
        background-color: #f7f8fa;
      }

      .week-cell.filled {
        color: var(--neutral-dark);
        background-color: var(--primary-color);

        &.entries-count-2 {
          background-color: #f9d495;
        }
        &.entries-count-3,
        &.entries-count-4,
        &.entries-count-5,
        &.entries-count-6,
        &.entries-count-7,
        &.entries-count-8,
        &.entries-count-9,
        &.entries-count-10 {
          background-color: #f7c978;
        }
      }

      .week-cell {
        &:hover:not(.invisible, .disabled, .past, .today, .selected) {
          background-color: inherit;
          border: 2px dashed var(--neutral-dark);
          padding: 4px 8px 4px 6px;

          // disable long tap hover effect
          @media (max-width: 922px) {
            border: 2px solid transparent;
          }
        }
      }

      .week-cell.filled:hover:not(.invisible, .disabled, .past, .today, .selected) {
        background-color: var(--primary-color);

        &.entries-count-2 {
          background-color: #f9d495;
        }
        &.entries-count-3,
        &.entries-count-4,
        &.entries-count-5,
        &.entries-count-6,
        &.entries-count-7,
        &.entries-count-8,
        &.entries-count-9,
        &.entries-count-10 {
          background-color: #f7c978;
        }
      }

      .week-cell:hover:not(.invisible, .disabled, .past, .today, .selected) {
        background-color: #f7f8fa;
      }

      .week-cell.today {
        border-color: var(--neutral-dark);
      }

      .week-cell.today .title {
        color: var(--neutral-dark) !important;
      }
    }
  }

  // BACKGROUND
  .without-bg {
    background: transparent;
  }
  .primary-bg {
    background-color: var(--primary-color);
  }
  .secondary-bg {
    background-color: var(--neutral-dark);
  }
  .white-bg {
    background-color: var(--neutral-light);
  }
  .white-fg {
    color: var(--neutral-light);
  }

  // FOREGROUND
  .primary-fg {
    color: var(--primary-color);
    -webkit-text-fill-color: unset;
  }
  .secondary-fg {
    color: var(--neutral-dark);
    -webkit-text-fill-color: unset;
  }
  .white-fg {
    color: var(--neutral-light);
    -webkit-text-fill-color: unset;
  }

  // SHADOWS
  .without-shadow {
    box-shadow: none;
  }
  .primary-shadow {
    box-shadow: $shadow-size $shadow-size 0 0 var(--primary-color);
  }
  .secondary-shadow {
    box-shadow: $shadow-size $shadow-size 0 0 var(--neutral-dark);
  }
  .combo1-shadow {
    box-shadow:
      inset $inset-size $inset-size 0 0 var(--neutral-light),
      $shadow-size $shadow-size 0 0 var(--primary-color);
  }
  .combo2-shadow {
    box-shadow:
      inset $inset-size $inset-size 0 0 var(--neutral-dark),
      $shadow-size $shadow-size 0 0 var(--primary-color);
  }

  // BORDERS
  .primary-border {
    border: solid $thickness var(--primary-color);
  }
  .secondary-border {
    border: solid $thickness var(--neutral-dark);
  }
  .white-border {
    border: solid $thickness var(--neutral-light);
  }
}
