$thickness: 4px;
$shadow-size: 10px;
$inset-size: 8px;

.theme2024 {
  --primary-color: #fbe3b9;
  --neutral-dark: black;
  --neutral-light: white;

  .multiselect-toolbar {
    background-color: var(--neutral-dark);
    background-image: unset;

    .multiselect-toolbar-buttons {
      .btn-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--neutral-dark);

        &:hover {
          background-color: var(--neutral-light);
          border-color: var(--neutral-light);
        }
      }
    }
  }

  .bible-verse {
    color: var(--neutral-dark);
    //box-shadow: inset 0 -6px 0 0 var(--neutral-light);
    display: inline;
    background-color: var(--neutral-light);
  }

  .white-bg {
    .bible-verse {
      //box-shadow: inset 0 -6px 0 0 var(--primary-color);
      font-weight: normal;
      font-size: var(--bs-body-font-size);
      background-color: var(--primary-color);
    }
  }
  //#57732d
  .calendar {
    .calendar-week {
      .week-cell {
        //padding: 0.25rem 0.45rem 0.25rem 0.35rem;
        padding: 6px 10px 6px 8px;
      }

      .week-cell.selected {
        color: var(--neutral-light);
        background-color: var(--neutral-dark);
      }

      .week-cell.selected .title {
        color: var(--primary-color);
      }

      .week-cell.selected.filled {
        color: var(--neutral-light);
        background-color: var(--neutral-dark);
      }

      .week-cell.selected {
        color: var(--neutral-light);
        background-color: var(--neutral-dark) !important;
      }

      .week-cell.highlighted {
        background-color: #f7f8fa;
      }

      .calendar .calendar-header .header-cell,
      .week-cell {
        color: var(--neutral-dark);
      }

      .week-cell .title {
        color: var(--neutral-dark);
      }

      .week-cell.weekend.filled .title {
        color: var(--neutral-dark);
      }

      .week-cell.highlighted.filled .title {
        color: var(--neutral-dark);
      }

      .week-cell.weekend.filled.selected .title {
        color: var(--primary-color);
      }

      .week-cell.highlighted.filled.selected .title {
        color: var(--primary-color);
      }

      .week-cell.weekend {
        background-color: #f7f8fa;
      }

      .week-cell.filled {
        color: var(--neutral-dark);
        background-color: var(--primary-color);
      }

      .week-cell {
        &:hover:not(.invisible, .disabled, .past, .today, .selected) {
          background-color: unset;
          border: 2px dashed var(--neutral-dark);
          padding: 4px 8px 4px 6px;
        }
      }

      .week-cell.filled:hover:not(.invisible, .disabled, .past, .today, .selected) {
        background-color: var(--primary-color);
      }

      .week-cell:hover:not(.invisible, .disabled, .past, .today, .selected) {
        background-color: #f7f8fa;
      }

      .week-cell.today {
        border-color: var(--neutral-dark);
      }

      .week-cell.today .title {
        color: var(--neutral-dark) !important;
      }
    }
  }

  // BACKGROUND
  .primary-bg {
    background-color: var(--primary-color);
  }
  .secondary-bg {
    background-color: var(--neutral-dark);
  }
  .white-bg {
    background-color: var(--neutral-light);
  }
  .white-fg {
    color: var(--neutral-light);
  }

  // FOREGROUND
  .primary-fg {
    color: var(--primary-color);
    -webkit-text-fill-color: unset;
  }
  .secondary-fg {
    color: var(--neutral-dark);
    -webkit-text-fill-color: unset;
  }
  .white-fg {
    color: var(--neutral-light);
    -webkit-text-fill-color: unset;
  }

  // SHADOWS
  .primary-shadow {
    box-shadow: $shadow-size $shadow-size 0 0 var(--primary-color);
  }

  .secondary-shadow {
    box-shadow: $shadow-size $shadow-size 0 0 var(--primary-color);
  }

  .combo1-shadow {
    box-shadow:
      inset $inset-size $inset-size 0 0 var(--neutral-light),
      $shadow-size $shadow-size 0 0 var(--primary-color);
  }

  .combo2-shadow {
    box-shadow:
      inset $inset-size $inset-size 0 0 var(--neutral-dark),
      $shadow-size $shadow-size 0 0 var(--primary-color);
  }

  // BORDERS
  .primary-border {
    border: solid $thickness var(--primary-color);
  }
  .secondary-border {
    border: solid $thickness var(--neutral-dark);
  }
  .white-border {
    border: solid $thickness var(--neutral-light);
  }
}
