<div class="modal-body">
  <div class="mb-3">
    <strong class="unselectable" id="modal-basic-title">Drahí modlitebníci,</strong>
  </div>

  <p>
    Veľká noc je za nami a to znamená, že aj naša Pôstna reťaz sa skončila. Ďakujeme všetkým vám,
    ktorí ste sa zapojili pôstom aj modlitbami, či už ste boli zapísaní v kalendári alebo nie.
    Veríme, že má veľký zmysel, keď sa Božie deti zjednotia na modlitbách a volajú k svojmu
    nebeskému Otcovi, hľadajú Jeho tvár, bojujú na kolenách. A super je, že nebeský Otec svoje deti
    počuje aj vypočúva. A tak, aj keď sa reťaz skončila, nech
    <b><em>náš modlitebný zápas pokračuje</em></b
    >. Ak by ste sa chceli inšpirovať podnetmi z Pôstnej reťaze, budú stále k dispozícii na stránke,
    stačí sa prekliknúť medzi jednotlivými týždňami.
  </p>

  <p>
    <em class="bible-verse"> "V modlení vytrvajte, bdejte pri ňom a dobrorečte." Kol 4,2 </em>
  </p>

  <p>Nech vás Pán Boh žehná!</p>

  <p>Vlado Gál</p>

  <form name="modalButtons">
    <div class="clearfix">
      <button
        (click)="passBack()"
        type="submit"
        class="btn btn-outline-primary btn-smaller float-right"
      >
        Zobraziť modlitebné podnety
      </button>
    </div>
  </form>
</div>
