.svg-wrap {
  display: flex;
  justify-content: center;
  color: #111;
  background: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
}

.svg-wrap svg {
  display: block;
  width: 100%;
  max-width: 700px;
  height: auto;
  background: #fff;
}
