<ng-container *ngIf="date === '2022-03-20'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Nedeľa 20.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Haleluja! Chváľ, duša moja, Hospodina! Chváliť budem Hospodina, dokiaľ žijem, a spievať
            budem svojmu Bohu, dokiaľ tu budem. Nespoliehajte sa na kniežatá, na človeka, u ktorého
            niet pomoci. Keď jeho duch vyjde, on vráti sa do zeme; jeho úmysly zaniknú v ten istý
            deň. Blahoslavený, komu je Boh Jákobov na pomoci, ktorého nádej je v Hospodinovi, jeho
            Bohu, ktorý učinil nebesá i zem, more i všetko, čo je v ňom; ktorý zachováva vernosť
            naveky; On dopomáha utláčaným k právu a hladným dáva chlieb. Hospodin vyslobodzuje
            uväznených, Hospodin otvára oči slepým, Hospodin dvíha skleslých, Hospodin miluje
            spravodlivých, Hospodin chráni cudzincov, zachováva sirotu a vdovu, ale cestu
            bezbožníkov prevracia. Hospodin bude večne kraľovať, tvoj Boh, ó Sion, z rodu na rod.
            Haleluja!
          </em>
        </p>

        <p>Žalm 146</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>chváľme dnešný deň Hospodina (Povedz svojej duši "Chváľ, duša moja, Hospodina!")</li>

          <li>nech je naša nádej a pomoc v Bohu</li>

          <li>prehlasujme Božiu vládu nad celou zemou</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-19'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Sobota 19.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Láska nech je bez pokrytectva! Zošklivujte si zlé, pridŕžajte sa dobrého! Naklonení v
            bratskej láske, predbiehajte sa navzájom v úctivosti, nebuďte leniví v horlivosti,
            duchom vrúcni, slúžte Pánovi; veseľte sa v nádeji, v súžení buďte trpezliví, v modlitbe
            vytrvalí, k potrebám svätých ochotní, k hosťom pohostinní. Dobrorečte tým, čo vás
            prenasledujú, dobrorečte a nezlorečte! Radujte sa s radujúcimi a plačte s plačúcimi!
            Buďte vospolok jednomyseľní, nebuďte namyslení, ale majte porozumenie pre nízko
            postavených; nebuďte múdri len pre seba. Nikomu sa neodplácajte zlým za zlé; starajte sa
            o dobré pred všetkými ľuďmi.
          </em>
        </p>

        <p>
          <em
            >Ak je možné, nakoľko je na vás, majte pokoj so všetkými ľuďmi, nepomstite sa, milovaní,
            ale ponechajte to hnevu (Božiemu) - lebo je napísané: Mne patrí pomsta, ja odplatím;
            hovorí Pán. Naopak: ak je tvoj nepriateľ hladný, nakŕm ho; ak je smädný, napoj ho; lebo
            keď tak urobíš, žeravé uhlie zhrnieš mu na hlavu. Nedaj sa premôcť zlému, ale zlé
            premáhaj dobrom!
          </em>
        </p>

        <p>List Rímskym 12,9-21</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            tieto verše opisujú, ako by malo vyzerať spoločenstvo kresťanov a aké by mali byť medzi
            nami vzťahy. Prečítaj si text ešte raz a vyber z neho 3 reakcie/postoje, v ktorých
            najviac vo vzťahu k blížnym zlyhávaš a modli sa, aby ti Duch Svätý pomáhal konať, podľa
            Jeho Slova
          </li>

          <li>
            ak ti napadli nejakí bratia a sestry, ktorých si svojou neláskou zranil, pros Boha o
            odpustenie z konkrétnych hriechov a pýtaj si od Boha silu na urovnanie vzťahov
          </li>

          <li>
            modli sa za náš zbor, aby Pán Boh rozlial lásku do našich sŕdc, aby sme sa vedeli takto
            milovať
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-18'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Piatok 18.3.'"
    >
      <ng-container first-slot>
        <p>
          <em>Odpovedali mu: Ver v Pána Ježiša a budeš spasený ty a tvoj dom! </em>
        </p>

        <p>Skutky apoštolov 16,31</p>

        <p>
          <em
            >Toto je dobré a príjemné pred naším Spasiteľom Bohom, ktorý chce, aby všetci ľudia boli
            spasení a poznali pravdu.
          </em>
        </p>

        <p>Prvý list Timoteovi 2,3-4</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            napíš si na papier mená tvojich blízkych, ktorí ešte nepoznajú Pána Ježiša. Ďakuj za
            nich Pánu Bohu a modli sa za ich srdce, aby bolo mäkké a otvorené Ho prijať
          </li>

          <li>
            modli sa aj za seba, aby si bol citlivý na Božie vedenie, mal pozorné oči a vedel, kedy
            hovoriť, kedy radšej počúvať, aby cez teba mohol Kristus svietiť
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-17'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Štvrtok 17.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Varujte sa prejavovať zbožnosť pred ľuďmi preto, aby vás videli; ináč nemáte odplatu u
            svojho Otca, ktorý je v nebesiach. Preto keď dávaš almužnu, netrúb pred sebou, ako robia
            pokrytci v synagógach a na uliciach, aby ich ľudia oslavovali. Veru vám hovorím: Majú
            svoju odmenu! Ale keď ty dávaš almužnu, nech nevie tvoja ľavica, čo robí pravica, aby
            tvoja almužna zostala v skrytosti, a tvoj Otec, ktorý vidí v skrytosti, odplatí tebe.
          </em>
        </p>

        <p>Matúš 6,1-4</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>pros Ducha Svätého, aby ťa pokoril pred Božou tvárou</li>

          <li>
            nech je tým, čo robíme oslávený Pán Boh a nie my (nech nekalkulujeme, čo prospeje nám)
          </li>

          <li>
            nech sme ľuďmi, ktorí nepozerajú na to, čo si o nich druhí myslia, ale radostne dávajú v
            skrytosti
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-16'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Streda 16.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >On však povedal: Napísané je: Nie samým chlebom bude človek žiť, ale každým slovom,
            ktoré vychádza z úst Božích.</em
          >
        </p>

        <p>Matúš 4,4</p>

        <p>
          <em
            >Ako kresťania už nedokážeme „prežiť“ len na fyzickom pokrme, ale potrebujeme sa
            duchovne sýtiť. Božie slovo je týmto pokrmom. Zamysli sa dnes, aký máš vzťah k čítaniu
            Božieho Slova – Biblie.</em
          >
        </p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>chváľ Pána Boha, vzdávaj Mu vďaky za Jeho slovo, ktoré nám dal</li>

          <li>nech Pán Boh spôsobí v tvojom srdci väčší hlad po čítaní Biblie</li>

          <li>nech je Božie slovo naozajstným, živým pokrmom pre tvoj život</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-15'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Utorok 15.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >A hľa, vstal zákonník, a aby ho pokúšal, povedal: Majstre, čo konať, aby som dedične
            obdržal večný život? Odpovedal mu: Čo je napísané v zákone? Čo tam čítaš? On odvetil:
            Milovať budeš Pána, svojho Boha, z celého srdca, z celej duše, z celej sily a z celej
            mysle, a svojho blížneho ako seba samého. Riekol mu teda: Správne si odpovedal! To čiň a
            budeš žiť. Ale on sa chcel ospravedlniť a spýtal sa Ježiša: A kto mi je blížny? Ježiš
            znovu riekol: Išiel jeden človek z Jeruzalema dolu do Jericha a padol lotrom do rúk. Tí
            ho ozbíjali, doráňali, zanechali polomŕtveho a odišli.
          </em>
        </p>

        <p>
          <em
            >Náhodou išiel touto cestou kňaz, a keď ho videl, obišiel ho. Podobne i levíta, keď
            prišiel na to miesto a videl ho, obišiel ho. Prišiel však k nemu pocestný Samaritán, a
            vidiac ho zľutoval sa nad ním, pristúpil k nemu, obviazal mu rany, nalial do nich olej a
            víno, vyložil ho na svoje hoviadko, zaniesol do hostinca a opatroval ho. Potom na druhý
            deň vybral dva denáre, dal hostinskému a povedal: Opatruj ho, a ak by si viac vynaložil
            na neho, zaplatím ti, až sa vrátim. Čo myslíš, kto z tých troch bol blížnym tomu, ktorý
            padol lotrom do rúk? A on odpovedal: Ten, čo mu preukázal milosrdenstvo. Ježiš mu
            povedal: Choď a rob podobne!</em
          >
        </p>

        <p>Lukáš 10,25-37</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>nech máme ako spoločenstvo, aj jednotlivci otvorenú náruč pre ľudí okolo nás</li>

          <li>nech vieme milovať svojich blížnych ako seba samých</li>

          <li>nech nie sme zahltení povinnosťami natoľko, že prehliadneme potreby druhých</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-14'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Pondelok 14.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Radujte sa v Pánovi vždy! Opakujem: radujte sa! Vaša dobrotivosť nech je známa všetkým
            ľuďom. Pán blízko! O nič nebuďte ustarostení, ale vo všetkom s vďakou predkladajte Bohu
            svoje žiadosti vo všetkých svojich modlitbách a prosbách. A pokoj Boží, ktorý prevyšuje
            každý rozum, bude chrániť vaše srdcia a vaše mysle v Kristovi Ježišovi.</em
          >
        </p>

        <p>List Filipským 4,4-8</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>nech sa tvoje srdce vždy raduje v Pánovi</li>

          <li>predkladaj s vďakou Pánu Bohu svoje žiadosti</li>

          <li>pros o nadprirodzený pokoj a radosť bez ohľadu na okolnosti</li>

          <li>
            prehlasuj do konkrétnych situácií, že pokoj Boží uchráni tvoje srdce a myseľ v Ježišovi
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-13'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Nedeľa 13.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >A toto je zvesť, ktorú sme počuli od Neho, a zvestujeme vám, že Boh je svetlo a nieto v
            Ňom nijakej tmy. Ak hovoríme, že máme spoločenstvo s Ním a chodíme v tme, klameme a
            nerobíme, čo je pravda. Ale ak chodíme vo svetle, ako On je vo svetle, máme spoločenstvo
            medzi sebou a krv Ježiša, Jeho Syna, nás očisťuje od každého hriechu.
          </em>
        </p>

        <p>
          <em
            >Ak hovoríme, že nemáme hriech, sami seba klameme a nie je v nás pravda. Ak vyznávame
            svoje hriechy, On je verný a spravodlivý, aby nám odpustil hriechy a očistil nás od
            všetkej neprávosti. Ak hovoríme, že sme nezhrešili, Jeho robíme klamárom, a Jeho slovo v
            nás neprebýva.
          </em>
        </p>

        <p>Prvý list Jánov 1,5-10</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>modlime sa, aby sme boli spoločenstvo ľudí, ktoré kráča vo svetle a nie v tme</li>

          <li>
            upriam pozornosť na moc Ježiša, ktorý nás svojou krvou očisťuje od KAŽDÉHO HRIECHU a
            prijmi Jeho obeť za tvoje hriechy
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-12'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Sobota 12.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Bratia moji, pokladajte to za radosť, keď prídu na vás rozličné skúšky, veď viete, že
            ak sa vaša viera osvedčí, vedie to k vytrvalosti. A vytrvalosť nech je zavŕšená
            skutkami, aby ste boli dokonalí, bezúhonní a bez akéhokoľvek nedostatku. Ak sa však
            niekomu z vás nedostáva múdrosti, nech prosí Boha, ktorý dáva štedro a bez výčitiek, a
            dostane ju. Nech však prosí s vierou, bez akéhokoľvek pochybovania, lebo kto pochybuje,
            podobá sa morskej vlne, hnanej a zmietanej vetrom. Taký človek nech si nemyslí, že
            dostane niečo od Pána; je to muž vnútorne rozpoltený a nestály vo všetkom svojom
            počínaní.
          </em>
        </p>

        <p>List Jakuba 1,2-8</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>chváľ Pána Boha, vyznaj, že má tvoj život úplne pod kontrolou</li>

          <li>
            pros si Božiu múdrosť do skúšok (nech sa neuchyľuješ k sťažovaniu, ale naopak, raduj sa,
            že ťa skúšky vedú k svätosti
          </li>

          <li>pros si pevnú a vytrvalú vieru, ktorá nekalkuluje, neanalyzuje, neobzerá sa späť</li>

          <li>
            nech nám Duch Svätý dáva múdrosť, ako poslúžiť bratom a sestrám v rozhovoroch na
            budovanie, povzbudzovanie a potešovanie
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-11'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Piatok 11.3.'"
    >
      <ng-container first-slot>
        <p>
          <em>Lebo Ty si mi býval na pomoci a v tôni Tvojich krídel plesám.</em>
        </p>

        <p>Žalm 63,8</p>
      </ng-container>

      <ng-container second-slot>
        <p>
          Kráľ Dávid všetky svoje modlitby, ktoré môžeme čítať v Žalmoch zakončuje vyznaním, že Pán
          Boh mu bol a bude na pomoci. Ako si na tom ty? Spoliehaš sa vo svojom živote na Božiu
          pomoc? Dnes skúmaj svoje srdce, a v akejkoľvek situácii si, obráť svoju dôveru na Božiu
          pomoc.
        </p>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-10'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Štvrtok 10.3.'"
    >
      <ng-container first-slot>
        <p>
          <em>
            V každom čase všetkých modlitieb a prosieb modlievajte sa v duchu; dbajte pritom
            vytrvalo a proste za všetkých svätých aj za mňa, aby mi bola daná reč, keď otvorím ústa,
            zvestovať zjavne tajomstvo evanjelia, pre ktoré som poslom v putách, aby som ho otvorene
            hlásal, ako mi aj treba hovoriť.
          </em>
        </p>

        <p>List Efezkým 6,18-20</p>
      </ng-container>

      <ng-container second-slot>
        <p>
          Dnešný deň sa modlime za našich farárov - Ondreja Koča, Martina Chalupku, Lenku Wagnerovú:
        </p>
        <ul class="mb-0">
          <li>aby ich Pán Boh viedol a posilňoval v službe, ktorú konajú v našom zbore</li>

          <li>aby im bola daná reč, keď budú zvestovať Božie slovo</li>

          <li>aby boli odvážni nasledovať Ježišove vedenie v každej situácii</li>

          <li>aby vedeli ako viesť náš zbor</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-09'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Streda 9.3.'"
    >
      <ng-container first-slot>
        <p>
          <em>
            Nové prikázanie vám dávam, aby ste sa vzájomne milovali; ako som vás ja miloval, aby ste
            sa aj vy vzájomne milovali. Podľa toho poznajú všetci, že ste moji učeníci, keď sa
            budete vzájomne milovať.
          </em>
        </p>

        <p>Ján 13,34-35</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            aby sme ako spoločenstvo vyznávajúcich Ježiša, vedeli k sebe navzájom budovať takú
            lásku, akú mal k nám sám Pán Ježiš
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-08'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Utorok 8.3.'"
    >
      <ng-container first-slot>
        <p>
          <em>
            Anjelovi cirkevného zboru laodikejského napíš: Toto hovorí Amen, Verný a pravý svedok,
            Počiatok Božieho stvorenia: poznám tvoje skutky, že nie si ani studený ani horúci. Kiež
            by si bol studený alebo horúci! Takto, že si vlažný, ani horúci ani studený, vypľujem ťa
            z úst. Keď hovoríš: som bohatý, zbohatol som, nič nepotrebujem, a nevieš, že si biedny,
            aj úbohý, aj chudobný, aj slepý, aj nahý, radím ti: kúp si odo mňa ohňom prepáleného
            zlata, aby si zbohatol, biele rúcho, aby si sa odel, aby sa neukazovala hanba tvojej
            nahoty, a (kúp si) kolýriovej masti pomazať si oči, aby si videl. Ja všetkých,
            ktorýchkoľvek milujem, vychovávam a trestám. Rozhorli sa teda a kajaj sa!
          </em>
        </p>

        <p>
          <em>
            Ajhľa, stojím pri dverách a klopem. Ak niekto počuje môj hlas a otvorí dvere, vojdem k
            nemu a budem stolovať s ním a on so mnou. Kto zvíťazí, tomu umožním sedieť so mnou na
            mojom tróne, tak ako aj ja som zvíťazil a sedím so svojím Otcom na Jeho tróne. Kto má
            uši, nech počuje, čo Duch hovorí cirkevným zborom!
          </em>
        </p>

        <p>Zjavenie Jána 3,14-22</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            pýtaj sa Ducha Svätého, ako je na tom tvoje srdce, či si nezvlažnel, či si sa nezačal
            spoliehať na seba (vlastné sily, vedomosti, majetok, pohodlie, múdrosť, postavenie...)
          </li>

          <li>
            pýtaj sa, či si sa nenasýtil vecami zo sveta tak, že už nie si hladný po Pánu Bohu, Jeho
            slove
          </li>

          <li>čiň pokánie, Ježiš stojí pred dverami tvojho srdca a klope, otvor Mu</li>

          <li>pros si nový zápal pre Ježiša, pre evanjelium, otvorené oči a uši</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-07'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Pondelok 7.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Pred Bohom a pred Kristom Ježišom, ktorý bude súdiť živých a mŕtvych, zaväzujem ťa na
            Jeho zjavenie a kráľovstvo: zvestuj slovo, buď pohotový vhod-nevhod, presviedčaj,
            karhaj, napomínaj so všetkou trpezlivosťou a poučovaním. Lebo príde čas, keď (ľudia)
            neznesú zdravé učenie, ale pretože chcú počúvať len to, čo sa im páči, budú si podľa
            svojich žiadostí zháňať učiteľov, odvrátia sluch od pravdy a obrátia sa k bájkam. Ty
            však buď vo všetkom striezlivý, znášaj protivenstvá, plň povolanie evanjelistu, konaj si
            službu.
          </em>
        </p>

        <p>Druhý Timotejovi 4,1-5</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            aby naše uši neboli "svrbľavé", ale boli stále pripravené počuť Božiu pravdu, aj keď sa
            nám nebude páčiť. Aby sme si nehľadali učiteľov podľa toho, čo sa nám páči.
          </li>
          <li>
            za všetkých, ktorí kážu slovo v našom zbore (na službách Božích, mládežiach,
            skupinkách), aby boli poslušní vedeniu Ducha Svätého, boli nekompromisní a odvážni
            hlásať Božie Slovo, Jeho pravdu, vhod-nevhod. Aby pri kázaní nepodliehali módnym
            trendom.
          </li>

          <li>
            aby sme vedeli rozpoznať zdravé učenie. (Ak počúvame online kázne z rôznych zdrojov,
            čítame knihy, počúvame podcasty...)
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-06'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Nedeľa 6.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Ó všetci smädní, poďte k vode! Poďte i vy, ktorí nemáte peniaze! Kupujte obilie,
            jedzte; poďte, kupujte bez peňazí, bez platenia víno a mlieko! Prečo dávate peniaz za
            to, čo nie je chlebom, a svoj zárobok za to, čo nesýti? Čujte ma pozorne a jedzte dobré
            a v hojnosti sa bude kochať vaša duša! Nachýľte uši a poďte ku mne, poslúchajte a budete
            žiť.
          </em>
        </p>

        <p>Izaiáš 55,1-3</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            aby všetci hladní a smädní, vyprahnutí prišli k Ježišovi – prameňu živej vody a boli
            občerstvení
          </li>
          <li>aby sme sa nehnali a nezahlcovali vecami, ktoré nás nemôžu nasýtiť</li>
          <li>aby naše uši boli nastavené na počúvanie Božieho hlasu</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-05'">
  <app-content-box [classList]="'gradient-c text-white'" [negative]="true" [biggerText]="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Sobota 5.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Preto kľakám na kolená pred Otcom, po ktorom sa volá každá rodina na nebi aj na zemi;
            aby vám podľa bohatstva svojej slávy dal skrze svojho Ducha mocne zosilnieť na vnútornom
            človeku; aby Kristus prebýval vierou vo vašich srdciach, a vy, zakorenení a založení v
            láske, aby ste mohli so všetkými svätými vystihnúť, aká je to šírka a dĺžka, výška a
            hĺbka, a poznať Kristovu lásku, ktorá prevyšuje všetko poznanie; aby ste sa dali naplniť
            celou Božou plnosťou.
          </em>
        </p>

        <p>
          <em
            >Tomu však, ktorý môže nad toto všetko učiniť omnoho viac, ako my prosíme alebo
            rozumieme, a to podľa moci, ktorá pôsobí v nás, Tomu buď sláva v cirkvi a v Kristovi
            Ježišovi po všetky pokolenia až naveky vekov. Amen.</em
          >
        </p>

        <p>List Efezkým 3,14-21</p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>
            modli sa, aby si skrze Ducha Svätého mocne zosilnel na vnútornom človeku, aby si každým
            dňom rástol
          </li>
          <li>
            aby sme ako spoločenstvo mohli spoločne zažívať šírku a dĺžku, výšku a hĺbku Kristovej
            lásky voči nám
          </li>
          <li>
            aby tvoje srdce a myseľ neboli naplnené zbytočnosťami, ale naopak, aby si bol naplnený
            Božou plnosťou
          </li>
          <li>
            ďakuj a chváľ Pána už teraz, pretože môže učiniť omnoho viac, ako prosíme alebo
            rozumieme
          </li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-04'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <app-two-split
      [firstTitle]="firstTitle"
      [secondTitle]="secondTitle"
      [badgeText]="'Piatok 4.3.'"
    >
      <ng-container first-slot>
        <p>
          <em
            >Požehnaný Boh a Otec nášho Pána Ježiša Krista, ktorý nás podľa svojho veľkého
            milosrdenstva vzkriesením Ježiša Krista z mŕtvych znovuzrodil pre živú nádej, pre
            nehynúce, nepoškvrnené a nevädnúce dedičstvo pripravené v nebesiach pre vás, ktorých
            Božia moc prostredníctvom viery chráni pre spásu, pripravenú zjaviť sa v poslednom čase.
          </em>
        </p>

        <p>
          <em
            >Radujte sa z toho, aj keď azda teraz máte ešte nakrátko prejsť zármutkom rozličných
            skúšok, aby vám vaša vyskúšaná viera, oveľa cennejšia ako pominuteľné zlato, ktoré sa
            tiež preskúšava ohňom, bola na chválu, slávu a česť pri zjavení Ježiša Krista. Nevideli
            ste ho, a predsa ho milujete. Ani teraz ho nevidíte, ale veríte v neho a radujete sa
            nevýslovnou radosťou, plnou slávy, že dosahujete cieľ svojej viery — spásu duší.</em
          >
        </p>

        <p>Prvý Petrov 1,3-9</p>

        <p>
          Ak tieto verše práve čítate, radi by sme vás pozvali do toho, aby sme cez ne len tak
          rýchlo nepreleteli ale práve naopak, zastavili sa, prečítali si niektoré vety či slová
          niekoľkokrát a nechali túto pravdu zasiahnuť a ovplyvniť náš život tu a teraz. Boli sme
          stvorení pre živú nádej v Kristovi. Nedopusťme, aby boli tieto slová v našom živote
          odignorované.
        </p>
      </ng-container>

      <ng-container second-slot>
        <ul class="mb-0">
          <li>prosme Ducha Svätého, aby nám zjavil pravú živú nádej, ktorú máme v Kristovi</li>
          <li>modlime sa, aby naša viera obstála v skúškach</li>
          <li>modlime sa za ľudí, ktorí túto nádej nepoznajú</li>
        </ul>
      </ng-container>
    </app-two-split>
  </app-content-box>

  <div>
    <p class="text-center">
      Pieseň, ktorá nás práve v týchto časoch môže svojimi slovami povzbudiť a pripomenúť nám
      pravdu. :)
    </p>
  </div>

  <app-youtube-embedded [code]="'NZJO9qqn3pY'" [width]="560" [height]="315"></app-youtube-embedded>
</ng-container>

<ng-container *ngIf="date === '2022-03-03'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <h2 class="display-5 mb-4">
      <span class="title-with-badge">Biblický text na zamyslenie</span>
      <span class="date-badge">Štvrtok 3.3.</span>
    </h2>
    <p>
      <em
        >Preto kajajte sa a obráťte, aby vám boli zahladené hriechy,
        <strong>prišli vám časy duchovného osvieženia od Pána</strong>.</em
      >
    </p>

    <p>Skutky apoštolov 3,19-20</p>

    <h2 class="display-5 mb-4 mt-4">Modlitebné podnety na dnešný deň</h2>
    <ul class="mb-0">
      <li>
        popros, aby Duch Svätý nanovo obživil tvoje srdce, dal ti nebeskú radosť, ktorá nie je
        závislá od okolností
      </li>
      <li>nech príde novosť a čerstvosť do tvojej mysle, do tvojho tela, ale aj do vzťahov</li>
      <li>kajaj sa z vecí, ktoré ťa držia späť a obráť svoj zrak k Ježišovi</li>
    </ul>
  </app-content-box>
</ng-container>

<ng-container *ngIf="date === '2022-03-02'">
  <app-content-box [classList]="'gradient-c text-white'" negative="true" biggerText="true">
    <h2 class="display-5 mb-4">
      <span class="title-with-badge">Biblický text na zamyslenie</span>
      <span class="date-badge">Streda 2.3.</span>
    </h2>
    <p>
      <em
        >Boh nám je útočiskom a silou, pomocou v súžení vždy osvedčenou. Preto sa nebojíme, keby sa
        aj prevrátila zem a vrchy klátili sa v srdci mora. Nech hučia, nech sa penia jeho vody, nech
        sa zatrasú vrchy jeho vzdutím. Hospodin mocností je s nami, hradom prepevným je nám Boh
        Jákobov! Sela.</em
      >
    </p>

    <p>
      <em
        >Hľa, rieka... potoky jej potešujú mesto Božie, svätyňu príbytkov Najvyššieho. Boh je v jeho
        strede, neskláti sa, Boh pomôže mu na úsvite. Národy hučali a kráľovstvá sa zakolísali,
        vydal svoj hlas a zem sa rozplynula. Hospodin mocností je s nami, hradom prepevným je nám
        Boh Jákobov. Sela.</em
      >
    </p>

    <p>
      <em
        >Poďte a hľaďte na skutky Hospodinove! Úžasné veci spôsobil na zemi! Po koniec zeme
        zastavuje vojny, luky láme, seká kopije, bojové vozy ohňom spaľuje! Utíchnite a poznajte, že
        ja som Boh, som vyvýšený medzi národmi, vyvýšený na zemi! Hospodin mocností je s nami,
        hradom prepevným je nám Boh Jákobov. Sela.</em
      >
    </p>

    <p>Žalm 46</p>

    <h2 class="display-5 mb-4 mt-4">Modlitebné podnety na dnešný deň</h2>
    <ul class="mb-0">
      <li>
        utíšme sa pred Bohom, odovzdajme Mu znova v dôvere svoje srdcia, túžby, obavy, myšlienky...
      </li>
      <li>
        vyznávaj slovami žalmu (aj do situácií, ktorým práve čelíš): "Bože, si mojim útočiskom a
        silou...", "Preto sa nebojím, keby sa aj prevrátila zem..."
      </li>
      <li>nech národy utíchnu pred Ježišom, spoznajú, že je Boh a vyvýšia Ho</li>
    </ul>
  </app-content-box>
</ng-container>
