<div class="with-padding">

  <div style="max-width: 400px; margin-left: auto; margin-right: auto;" class="text-center mb-3">
    <app-svg-world></app-svg-world>
  </div>
  <p>
    <em class="bible-verse small">
      "Vy ste svetlo sveta. Mesto, ktoré leží na vrchu, nemôže byť skryté." Mt 5,14
    </em>
  </p>

  <ul>
    <li>aby nám Pán Boh zjavoval do čoho nás volá, ako si nás chce používať, ako Mu slúžiť, čo chce robiť cez nás</li>
    <li>aby sme mali zlomené srdcia za neveriacich</li>
    <li>za odvahu svedčiť</li>
    <li>za nových/ďalších pracovníkov, modlitebníkov, pastierov, prorokov, apoštolov, učiteľov, evanjelistov...
      <em class="bible-verse">"Vtedy povedal učeníkom: Žatvy je síce mnoho, ale pracovníkov málo, preto proste Pána žatvy, aby vyslal pracovníkov na svoju žatvu." Mt 9,37-38</em></li>
    <li>za múdrosť, ako zvestovať Božie slovo relevantne pre túto generáciu</li>
    <li>aby náš zbor svietil v meste Prešov</li>
    <li>aby sa noví ľudia obracali ku Kristu</li>
    <li>aby naše spoločenstvo bolo miestom, kde zranení nájdu uzdravenie, slabí posilnenie, odmietnutí prijatie...</li>
    <li>chváľme Pána Ježiša, že je to Jeho misia, že <em class="bible-verse">"On má všetku moc" a "je s nami po všetky dni"</em></li>
  </ul>

</div>
