<div class="with-padding">
  <h4 class="mb-1" *ngIf="content[contentIndex].title">
    {{ content[contentIndex].title }}
  </h4>

  <p class="mb-4" *ngIf="content[contentIndex].subtitle">
    <strong>{{ content[contentIndex].subtitle }}</strong>
  </p>
</div>

<app-panel-menu [items]="content" [activeIndex]="contentIndex" (selection)="selectContent($event)">
</app-panel-menu>

<div
  *ngIf="visible && contentIndex === 0"
  @enterLeaveTrigger
  (@enterLeaveTrigger.done)="animDone($event)"
>
  <app-content01></app-content01>
</div>

<div
  *ngIf="visible && contentIndex === 1"
  @enterLeaveTrigger
  (@enterLeaveTrigger.done)="animDone($event)"
>
  <app-content02></app-content02>
</div>

<div
  *ngIf="visible && contentIndex === 2"
  @enterLeaveTrigger
  (@enterLeaveTrigger.done)="animDone($event)"
>
  <app-content03></app-content03>
</div>

<div
  *ngIf="visible && contentIndex === 3"
  @enterLeaveTrigger
  (@enterLeaveTrigger.done)="animDone($event)"
>
  <app-content04></app-content04>
</div>

<!--<ng-container *ngTemplateOutlet="liveTemplate || topic4"></ng-container>

<ng-template #topic1>
  <app-content01></app-content01>
</ng-template>

<ng-template #topic2>
  <app-content02></app-content02>
</ng-template>

<ng-template #topic3>
  <app-content03></app-content03>
</ng-template>

<ng-template #topic4>
  <app-content04></app-content04>
</ng-template>
-->
