// Bootstrap overrides

$primary: #553e77;
//$primary: #4500ae;

$body-bg: #fcfcfc;
$body-color: #000;

$spacer: 1.5rem;

$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-size-base: 1.1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

//$font-weight-lighter:         lighter !default;
//$font-weight-light:           300 !default;
//$font-weight-normal:          400 !default;
$font-weight-bold: 900 !default;
//$font-weight-bolder:          bolder !default;

//$font-weight-base:            $font-weight-normal !default;
//$line-height-base:            1.5 !default;

//$h1-font-size:                $font-size-base * 2.5 !default;
//$h2-font-size:                $font-size-base * 2 !default;
//$h3-font-size:                $font-size-base * 1.75 !default;
//$h4-font-size:                $font-size-base * 1.5 !default;
//$h5-font-size:                $font-size-base * 1.25 !default;
//$h6-font-size:                $font-size-base !default;

//$headings-margin-bottom:      $spacer / 2 !default;
//$headings-font-family:        null !default;
$headings-font-weight: 900 !default;
//$headings-line-height:        1.2 !default;
//$headings-color:              null !default;

//$display1-size:               6rem !default;
//$display2-size:               5.5rem !default;
//$display3-size:               4.5rem !default;
//$display4-size:               3.5rem !default;

$display1-weight: 900 !default;
$display2-weight: 900 !default;
$display3-weight: 900 !default;
$display4-weight: 900 !default;
//$display-line-height:         $headings-line-height !default;

$lead-font-size: $font-size-base * 1.2 !default;
//$lead-font-weight:            300 !default;

//$small-font-size:             80% !default;

//$text-muted:                  $gray-600 !default;

//$blockquote-small-color:      $gray-600 !default;
//$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size: $font-size-base !default;

//$hr-border-color:             rgba($black, .1) !default;
//$hr-border-width:             $border-width !default;

//$mark-padding:                .2em !default;

//$dt-font-weight:              $font-weight-bold !default;

//$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
//$nested-kbd-font-weight:      $font-weight-bold !default;

//$list-inline-padding:         .5rem !default;

//$mark-bg:                     #fcf8e3 !default;

//$hr-margin-y:                 $spacer !default;

$border-radius-lg: 1.5rem !default;
$border-radius: 1rem !default;
$border-radius-sm: 0.5rem !default;

$btn-border-radius: 0.5em;
$modal-content-border-radius: 0.5em;
$input-border-radius: 0.5em;
$alert-border-radius: 0.5em;

$jumbotron-bg: #fff !default;
$jumbotron-padding: 2rem;

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

// my own constant:
$jumbotron-box-shadow: 0px 0px 53px 20px rgba(0, 0, 0, 0.05);
$jumbotron-equal-padding: 3rem; // padding the same on all sides
$jumbotron-equal-padding-sm: 2rem; // padding the same on all sides

////////////////
// PANEL MENU
//

.panel-menu {
  .menu-button {
    padding: 0 $jumbotron-equal-padding;
  }

  .menu-list {
    background-color: #fcfaff;
    box-shadow: inset 0 0 18px 1px rgba(0, 0, 0, 0.08);

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & > li {
        margin: 0;
        border-bottom: 1px solid #e8e8e8;
        padding: 1.5rem $jumbotron-equal-padding !important;
        text-align: center;
        transition: background-color 0.3s;

        &:last-child {
          border-bottom: 0;
        }

        &.disabled {
          .title,
          .sub-title {
            color: #d1d1d1;
          }
        }

        &:hover {
          background-color: #f2ecf8;
          cursor: pointer;

          &.disabled {
            cursor: default;
            background-color: transparent;
          }
        }

        .title {
          font-weight: 700;
          font-size: 1rem;
        }

        .sub-title {
          color: #9b8ab3;
          font-weight: 700;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
.jumbotron {
  &.negative {
    .panel-menu {
      .menu-list {
        background-color: #43315e;
        box-shadow: inset 0 0 18px 1px rgba(0, 0, 0, 0.2);

        ul > li {
          border-bottom-color: #53416f;

          &.disabled {
            .title,
            .sub-title {
              color: #65567b;
            }
          }

          &:hover {
            background-color: #392a50;

            &.disabled {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

////////////////
// CALENDAR
//

/* Calendar 100% height */
.calendar {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-size: 0.9em;
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .calendar-header {
    display: flex;
    flex: 30px 0 0;

    > div {
      padding-left: 8px;
      padding-bottom: 1em;
      align-items: center;
      font-style: italic;
      color: #999 !important;
      margin-bottom: 0.5rem;
    }
  }

  .calendar-week {
    display: flex;
    flex: 30px 1 0;

    & > div {
      position: relative;
      padding: 1.6em 0.5em 0.6em 0.6em;
      min-height: 7.2em;
      background-color: #f7f8fa;
      border-radius: 0.6em;
      margin-bottom: 0.4em;

      &:nth-last-child(2) {
        background-color: #f1f4fb;

        &.filled {
          background-color: #e1e5f5;
        }
      }

      &:last-child {
        background-color: #edebff;

        &.filled {
          background-color: #dbd6ff;
          //background-color: #e5dfeb;
        }
      }

      &.filled {
        background-color: #e9ecf7;
      }

      &.past {
        opacity: 0.5;
      }

      &.today {
        border: 1px solid #553e77;

        .title {
          color: #553e77;
        }
      }

      &:hover:not(.invisible, .disabled):not(.past, .today) {
        background-color: #553e77 !important;
        cursor: pointer;

        .title {
          color: #fff;
        }

        .name {
          color: white;
        }
      }

      .title {
        content: attr(data-date);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
        color: #aaa;
        transition: color 0.3s;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }

  .calendar-header > div,
  .calendar-week > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 5px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;

    &:last-child {
      margin-right: 0;
    }

    &.invisible {
      background-color: #fff !important;
    }

    .name {
      overflow-x: hidden;
      text-overflow: ellipsis;
      transition: color 0.3s;
      font-size: 0.85em;
    }
  }
}

////////////////
// JUMBOTRON
//

.jumbotron {
  box-shadow: 0 0 53px 20px rgba(0, 0, 0, 0.05);
  padding: $jumbotron-equal-padding;
  margin-bottom: 3rem;
  transition: background-color 0.8s, color 0.8s;

  &.dense {
    padding: $jumbotron-equal-padding-sm;
  }

  &.top {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.bottom {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.no-padding {
    padding: 0;

    .with-padding {
      padding: 0 $jumbotron-equal-padding;
      &:first-child {
        padding: $jumbotron-equal-padding $jumbotron-equal-padding 0 $jumbotron-equal-padding;
      }
      &:last-child {
        padding: 0 $jumbotron-equal-padding $jumbotron-equal-padding $jumbotron-equal-padding;
      }
    }
  }

  &.negative {
    color: #f0e1fa;
    background-color: #553e77;

    .bible-verse {
      color: #bf75fc;
    }

    .btn {
      &.btn-primary {
        background-color: #43315e;
      }

      &.btn-outline-primary {
        color: #bca5cc;
        border-color: #8f77a0;

        &:hover {
          color: #f0e1fa;
          border-color: #f0e1fa;
        }
      }
    }
  }

  ul {
    padding-inline-start: 20px;
  }
}

////////////////
// COMMON
//

.bible-verse {
  margin-top: 0.5rem;
  font-weight: 700;
  color: #793cd7;
  transition: color 0.8s;

  &.verse-small {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
}

.video-container {
  width: 80%;
  margin: 3rem auto 5rem auto;

  &.iframe {
    position: relative;
    padding-bottom: 45%; // aspect ratio
    height: 0;
    border-radius: $border-radius-lg;
    box-shadow: $jumbotron-box-shadow;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-lg;
    }
  }

  video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: $border-radius-lg;
    box-shadow: $jumbotron-box-shadow;
  }
}

ul > li {
  padding-bottom: 0.55rem !important;

  .bible-verse {
    display: block;
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
}

.btn {
  &.btn-smaller {
    font-size: 0.65em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.05em 1em 0.9em;
    letter-spacing: 0.05em;
  }
}

////////////////
// UTILITIES
//

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TODO variable for breakpoint */

@media (max-width: 991px) {
  .video-container {
    width: 100%;

    &.iframe {
      padding-bottom: 56%; // aspect ratio
    }
  }

  .panel-menu {
    .menu-button {
      padding: 0 $jumbotron-equal-padding-sm;
    }
    .menu-list {
      ul {
        & > li {
          padding: 1.5rem $jumbotron-equal-padding-sm !important;
        }
      }
    }
  }

  .jumbotron {
    padding: $jumbotron-equal-padding-sm;

    &.no-padding {
      .with-padding {
        padding: 0 $jumbotron-equal-padding-sm;
        &:first-child {
          padding: $jumbotron-equal-padding-sm $jumbotron-equal-padding-sm 0
            $jumbotron-equal-padding-sm;
        }
        &:last-child {
          padding: 0 $jumbotron-equal-padding-sm $jumbotron-equal-padding-sm
            $jumbotron-equal-padding-sm;
        }
      }
    }
  }

  .calendar {
    .calendar-header {
      display: none;
    }

    .calendar-week {
      flex-direction: column;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      & > div {
        min-height: 4.5em;
        padding-top: 2em;

        &:last-child {
          margin-bottom: 0;
        }

        .title {
          right: auto;
          left: 0;
        }
      }
    }

    .calendar-header > div,
    .calendar-week > div {
      display: block;
      margin-bottom: 10px;

      &.invisible {
        display: none;
      }

      .name {
        display: inline;
        overflow-x: initial;
        text-overflow: initial;

        &:not(:first-child)::before {
          content: '\0020\007C\0020'; // decoded string: " | "
        }
      }
    }
  }
}
