// Bootstrap & variables overrides
@import 'styles/bootstrap-overrides';
@import '~bootstrap/scss/bootstrap.scss';

// Project variables
@import 'styles/project-variables';

// Global
@import 'styles/utilities';
@import 'styles/common';

// Components
@import 'styles/jumbotron';
@import 'styles/panel-menu';
@import 'styles/calendar';

/* TODO variable for breakpoint */
@media (max-width: 991px) {
  .video-container {
    width: 100%;

    &.iframe {
      padding-bottom: 56%; // aspect ratio
    }
  }

  .panel-menu {
    .menu-button {
      padding: 0 $jumbotron-equal-padding-sm;
    }
    .menu-list {
      ul {
        & > li {
          padding: 1.5rem $jumbotron-equal-padding-sm !important;
        }
      }
    }
  }

  .jumbotron {
    padding: $jumbotron-equal-padding-sm;

    &.no-padding {
      .with-padding {
        padding: 0 $jumbotron-equal-padding-sm;
        &:first-child {
          padding: $jumbotron-equal-padding-sm $jumbotron-equal-padding-sm 0
            $jumbotron-equal-padding-sm;
        }
        &:last-child {
          padding: 0 $jumbotron-equal-padding-sm $jumbotron-equal-padding-sm
            $jumbotron-equal-padding-sm;
        }
      }
    }
  }

  .calendar {
    .calendar-header {
      display: none;
    }

    .calendar-week {
      flex-direction: column;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      & > div {
        min-height: 4.5em;
        padding-top: 2em;

        &:last-child {
          margin-bottom: 0;
        }

        .title {
          right: auto;
          left: 0;
        }
      }
    }

    .calendar-header > div,
    .calendar-week > div {
      display: block;
      margin-bottom: 10px;

      &.invisible {
        display: none;
      }

      .entry {
        display: inline;
        overflow-x: initial;
        text-overflow: initial;

        &:not(.title):not(:first-child)::before {
          content: '\0020\007C\0020'; // decoded string: " | "
        }
      }
    }
  }
}
