<div class="calendar" *ngIf="calendar">
  <div class="calendar-header" *ngIf="calendarOptions.header && dayNames">
    <ng-container *ngFor="let dayName of dayNames">
      <div class="header-cell">{{ dayName }}</div>
    </ng-container>
  </div>

  <div class="calendar-week-collapse" *ngIf="calendar.pastWeeksCount > 1">
    <button class="btn btn-outline-primary btn-block btn-smaller" (click)="toggleWeeks()">
      {{ collapsedWeeks ? 'Zobraziť staršie dátumy' : 'Skryť staršie dátumy' }}
    </button>
  </div>

  <ng-container *ngFor="let week of calendar.weeks; index as weekIndex">
    <div
      class="calendar-week"
      [ngClass]="week.classList"
      [class.collapsed]="week.past && collapsedWeeks"
    >
      <ng-container *ngFor="let day of week.days; index as dayIndex">
        <div
          class="week-cell"
          (click)="onDateClick(weekIndex, dayIndex, day, week, calendar)"
          [ngClass]="day.classList"
          [id]="'date-' + day.date"
        >
          <div class="title">{{ day.title }}</div>

          <div class="entries">
            <div class="entry" *ngFor="let name of day.names">
              <span *ngIf="day.visible">{{ name }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!--<pre>{{calendar | json}}</pre>-->
