<div class="row">
  <div class="col-lg">
    <div class="jumbotron lead gradient-border-c no-shadow">
      <h2 class="no-gradient display-5 mb-4">Modlitby za Ukrajinu</h2>
      <ul class="mb-0">
        <li>nech sa Pán Boh zmiluje nad Ukrajinou a prinesie mier</li>
        <li>za vládnych predstaviteľov, nech Pán Boh premení ich srdcia a zmýšľanie</li>
        <li>za ľudí, ktorí znášajú priame následky vojny, resp. ktorí utekajú pred vojnou</li>
        <li>
          za kresťanov na Ukrajine, aby im Pán Boh dal silu, odvahu, múdrosť... aby boli svetlom pre
          svoje okolie
        </li>
        <li>
          žehnajme Ukrajine aj Rusku, nech im Pán Boh dá pokánie, odpustí im a uzdraví ich zem
        </li>
        <li>nech je Ježiš vyvýšený aj v tejto ťažkej situácii</li>
      </ul>
    </div>
  </div>
</div>
